.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 50px 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.end-test{
    margin:40px 0 15px;
}
.end-test-content h3{
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #305f72;
}
.end-test-content p{
    font-size:15px;
    margin-top:0;
    margin-bottom: 15px;
}
.motivation-content{
    // padding:30px 20px;
    // box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    margin:0 25px 12px;
    border-radius:5px;
}
.exam-content span{
    font-size:15px;
    line-height: 22px;
    color:#333;
}
.dashboard-btn{
    padding: 9px 20px;
    border-radius: 8px !important;
    box-shadow: none !important;
    margin-left: 10px;
    background: #3f5c9b !important;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 8px;
    height: 42px;
    margin: 20px auto;
    width: 170px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}