<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          
        </ul>
      </ion-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">End Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>End Test</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <!-- <div class="end-test text-center">
        <img src="assets/icon/end-test.png">
      </div> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="padding-0">
      <div class="end-test-content text-center">
        <h3>Congratulations !!</h3>
        <p> You have completed the test successfully.</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="padding-0">
      <div class="motivation-content text-center">
        <img src="assets/icon/motivational-img.png">
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10" offset="1" class="padding-0">

      <div class="exam-content text-center" *ngIf="exist_theory_que == 'false'">
        <span >Pinch yourself but it’s true 😍 Your test has been evaluated automatically and your result is declared. Click on Below button and Go to My Test History to view your performance.</span>
      </div>
      <div class="exam-content text-center" *ngIf="exist_theory_que == 'true'">        
        <span *ngIf="price == '0'">Free Tests are self-evaluated. You can check the suggested answers in My Test History .</span>
        <span *ngIf="price != '0'">The test answer sheet is submitted for its evaluation with our experts panel. You will receive the results on your dashboard once the evaluation is done.</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" offset="2" class="padding-0">
      <div class="text-center">
        <button ion-button full class="dashboard-btn" (click)="goToDashboard()">Go To Dashboard</button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
