<ion-header>
  <ion-toolbar>
    <ion-title class="ios title-default hydrated">Answer Sheet PDF</ion-title>
    <div class="ion-colse-btn" size="small" (click)="dismiss()"><ion-icon name="close"></ion-icon>
    </div> 

  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe allowfullscreen frameborder="0" height="750px" width="100%" [src]="Url | safe">
  </iframe>
</ion-content>
