ion-title {
    background-color: #f27376;
    color: #fff;
    height: 50px;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 15px 0;
}
.ion-colse-btn{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 27px;
    color: #ffffff;
}