<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getHome()"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons> -->
    <ion-title class="ios title-default hydrated">New Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="getHome()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>New Test</h2>
              <!-- <span>My Test History</span> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="space-right-left">
    <ion-col class="padding-0">
      <h4 class="title-text">Step 1 - Confirm to Start Test</h4>
    </ion-col>
  </ion-row>-->
  <ion-row class="m-10">
    <ion-col class="text-center padding-0">
      <div class="test-img ">
        <img src="assets/icon/take-test.png">
      </div>
    </ion-col>
  </ion-row> 
  <form #startTestForm="ngForm" (ngSubmit)="startTest()" >
  <ion-row>
    
   <ion-col class="padding-0 text-center test-ttl">
      <h5>Enter your Target Marks <br>for this test</h5>
      <p>Total Marks - {{total_marks}}</p>
      <ion-list>
        <ion-item lines="none">
          <ion-input type="number" class="form-cantrol" [(ngModel)]="postData.target_marks" name="target_marks" required></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row class="m-30">
    <ion-col size="6" class="text-center">
      <button ion-button full class="cancel-btn" (click)="getHome()" type="button">Cancel</button>
    </ion-col>
    <ion-col size="6" class="text-center">
      <button ion-button full class="start-exam-btn" type="submit">Start Exam</button>
    </ion-col>
  </ion-row>
  
</form>
</ion-content>
