.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.space-right-left{
    margin:0 5px;
}
.title-text{
    color:#2a2a2a;
    font-size:15px;
    font-weight: 500;
    padding-left: 8px;
    margin-bottom:16px;
}

.form-cantrol{
    border: 1px solid #b1bcd4;
    padding-left: 15px !important;
    margin-bottom: 25px !important;
    padding: 3px 12px !important;
    font-size: 15px !important;
    margin: 0 25px;
    border-radius: 8px;
    --color: rgb(44, 44, 44);
    font-weight: 400;
}
.test-ttl h5{
    font-size: 17px;
    margin-bottom: 25px;
    color: #305F72;
    font-weight: 500;
}
.test-ttl p{
    font-size: 16px;
}
.start-exam-btn{
    padding: 12px 0;
    color:#ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 8px!important;
    box-shadow:none!important;
    background: #3f5c9b ;
    width: 100%;
}
.cancel-btn{
    padding: 12px 0;
    color: #2d363a;
    font-weight: 400;
    font-size: 15px;
    border-radius: 8px !important;
    box-shadow: none !important;
    background: #d7d7d7;
    width: 100%;
}
.m-30{
    margin:0 30px;
}
.m-10{
    margin:0 10px;
}
.test-img img{
    height: 130px;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
}