<ion-header>
  <ion-toolbar>
    <ion-title>get-started</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="padding-0">
      <img src="assets/mmt-img.svg" class="top-img">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <div class="main-ttl text-center">
        <h3>Make My Test</h3>
        <p>A brand new experience to learn something new. Polish your skills with this app. Easy to use.</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <div class="space-m-20">
        <ion-button expand="block" class="start-btn" routerLink='/login'>Lets Get Started
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>