.padding-0 {
    padding: 0px;
}
.text-center {
    text-align: center;
}
.main-ttl h3 {
    font-size: 31px;
    color: #132767;
    font-weight: 600;
    margin: 25px 0 20px 0;
}
.main-ttl p {
    font-size: 16px;
    color: #132767;
    font-weight: 500;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    padding: 0 40px;
}
ion-title {
    background-color: #f27376;
}
.start-btn {
    background: #3f5c9b !important;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 10px;
    --min-height: 51px;
    height: 51px;
    margin: 50px auto 0;
    width: 260px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
ion-button {
    --background: #3f5c9b !important;
    border-radius: 10px;
    margin-top: 60px;
}
.space-m-20 {
    margin: 0 32px;
}
ion-header {
    display: none;
}
.start-btn ion-icon {
    position: absolute;
    font-size: 16px;
    right: 15px;
}
.top-img {
    width: 100%;
    border-radius: 0 0 40px 40px;
}
