<!-- <ion-header>
  <ion-toolbar>
    <ion-title>coupon-popup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->


<div class="popover-scroll">
  <div class="popover-main-holder">
    <div style="background-image:url(../assets/packages-header.svg);" class="top-bg">
      <ion-icon name="close" class="close-popover" (click)="dismiss()"></ion-icon>
      <h2 class="packages-header">Apply Coupon</h2>
    </div>
    <div>
      <ion-row style="margin: 10px;">
        <ion-col size="8" class="coupon-input">
          <ion-input placeholder="Enter coupon code" required="required" [(ngModel)]="couponCodeManual"></ion-input>
        </ion-col>
        <ion-col size="4">
          <button ion-button class="start-btn" (click)="applyCoupon(couponCodeManual)">Apply</button>
        </ion-col>
      </ion-row>

      

      <ion-row style="margin: 10px;">
        <ion-col size="12" class="coupons-availabel">
          <h2>Available coupons</h2>
        </ion-col>
      </ion-row>

      <ion-row style="margin: 10px; border-bottom: dashed 1px #00000030; padding-bottom: 3px;" *ngFor="let coupon of coupon_list, let i = index">
        <ion-col size="9" class="coupons-details">
          <h2>{{coupon.discount_code}}</h2>
          <!-- <p>20% OFF upto 40INR</p> -->
          <span><b>Package: </b>{{coupon.pkg_info.name}}</span><br>
          <span><b>Desciption: </b>{{coupon.description}}</span>
        </ion-col>
        <ion-col size="3" class="coupons-details">
            <span><ion-icon name="trash" class="trash-icon" (click)="deleteCouponCode(coupon.discount_of)" *ngIf="coupons_added.indexOf(coupon.id) != -1"></ion-icon></span>

            <button ion-button [disabled]="coupons_added_in_cart_admin.length && coupons_added.indexOf(coupon.id) == -1" *ngIf="coupons_added.indexOf(coupon.id) == -1" (click)="applyCoupon(coupon.discount_code)" [class.btn-opacity]="coupons_added_in_cart_admin.length">Select</button>

        </ion-col>
      </ion-row>

      <!-- for institute coupon display start -->
      <div *ngIf="coupons_added_in_cart_institute != ''">
        <ion-row style="margin: 10px;">
          <ion-col size="12" class="coupons-availabel">
            <h2>Institute coupons</h2>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 10px; border-bottom: dashed 1px #00000030; padding-bottom: 3px;" *ngFor="let coupon of coupons_added_in_cart_institute">
          <ion-col size="9" class="coupons-details">
            <h2>{{coupon.discount_code}}</h2>
            <span><b>Desciption: </b>{{coupon.description}}</span>
          </ion-col>
          <ion-col size="3" class="coupons-details">
              <span><ion-icon name="trash" class="trash-icon" (click)="deleteCouponCode(coupon.discount_of)" ></ion-icon></span>


          </ion-col>
        </ion-row>
      </div>
      <!-- for institute coupon ends -->

      <!-- for student referal coupon display start -->
      <div *ngIf="coupons_added_in_cart_student != ''">
        <ion-row style="margin: 10px;">
          <ion-col size="12" class="coupons-availabel">
            <h2>Referal coupons</h2>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 10px; border-bottom: dashed 1px #00000030; padding-bottom: 3px;" *ngFor="let coupon of coupons_added_in_cart_student">
          <ion-col size="9" class="coupons-details">
            <h2>{{coupon.discount_code}}</h2>
            <span><b>Desciption: </b>{{coupon.description}}</span>
          </ion-col>
          <ion-col size="3" class="coupons-details">
              <span><ion-icon name="trash" class="trash-icon" (click)="deleteCouponCode(coupon.discount_of)" ></ion-icon></span>


          </ion-col>
        </ion-row>
      </div>
      <!-- for student referal coupon ends -->

    </div>
    
  </div>
</div>