<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getHome()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li>
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">Test Evaluation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="getHome()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Test Evaluation</h2>
              <span>Test Evaluation Details</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
<!-- 
  <ion-row class="space-right-left">
    <ion-col size="12" class="padding-0">
      <h4 class="title-text mb-0">Test Evaluation Details</h4>
    </ion-col>
  </ion-row> -->

  <ion-row class="margin-10 mt-16">
    <ion-col size="12" class="padding-0">
      <div class="test-evaluation-details-heading">
        <h4>Result:</h4>
      </div>
      <div class="total-test-mark">
        <h5>Total Test Marks - <strong>{{total_marks}}</strong></h5>
        <h5 *ngIf="price != '0'">Total Marks Obtained - {{obtained_marks}}<strong></strong></h5>
      </div>
    </ion-col>
    <ion-col size="12" class="padding-0" *ngIf="price != '0'">
      <button ion-button full class="score-btn">Obtained Marks - {{obtained_marks}}</button>
    </ion-col>
  </ion-row>
  
  <ion-row class="margin-10 mt-16">
    <ion-col size="12" class="padding-0" >
      <h4 class="title-text m-0 font-weight-bold">Test Paper Preview:</h4>
      <!-- <div class="test-step-2-question change-width" style="background-color: #ffff66;overflow: auto;"> -->
      <div [ngClass]="{'test-step-2-question':toggle, 'change-width': !toggle}" style="background-color: #ffff66;overflow: auto;">

        <button (click)="changeWidth()" class="expand-paper">
          <ion-icon name="expand-outline"></ion-icon></button>
        <div *ngFor="let questionData of questionDetails">
          <b>Question {{questionData.subquestion_index}} </b><b *ngIf="questionData.title != null">({{questionData.title}})</b><b *ngIf="questionData.sub_title != null" style="color: #3f5c9b;">({{questionData.sub_title}})</b>
          <p class="question-head" [innerHTML]="questionData.question.question">
            
            {{questionData.question.question | removehtmltags}}
          </p>
          <p class="question-head" *ngIf="questionData.q_type == 'Theory'"> <b> Correct Answer - <span [innerHTML]="questionData.question.explanation">{{questionData.question.explanation | removehtmltags}}</span> </b> </p>

          <div >
            <ion-list *ngIf="questionData.q_type == 'MCQ'" radio-group style="margin-bottom: 15px; padding: 10px; border-radius: 10px;"> 
              <!-- (ionChange)="checkValue(questionData.question.id,$event)" -->
              <ion-radio-group value="">
                <ion-label>Options</ion-label>
                <ion-item >
                  <b>a)</b> <ion-label><p class="question-head" [innerHTML]="questionData.question.option_1" style="color: #000000;white-space: normal;">{{questionData.question.option_1}}</p> </ion-label>
                </ion-item>
            
                <ion-item>
                  <b>b)</b> <ion-label><p class="question-head" [innerHTML]="questionData.question.option_2" style="color: #000000;white-space: normal;">{{questionData.question.option_2}}</p></ion-label>
                </ion-item>
            
                <ion-item>
                  <b>c)</b><ion-label><p class="question-head" [innerHTML]="questionData.question.option_3" style="color: #000000;white-space: normal;">{{questionData.question.option_3}}</p></ion-label>
                </ion-item>
                <ion-item>
                  <b>d)</b><ion-label><p class="question-head" [innerHTML]="questionData.question.option_4" style="color: #000000;white-space: normal;">{{questionData.question.option_4}}</p></ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            
          </div>
       
          <p class="question-head" *ngIf="questionData.student_test_ans && questionData.q_type == 'MCQ'"> <b>Submitted Answer - <span>{{tempObj[questionData.student_test_ans.submitted_answer]}}</span> </b> </p>
          <p class="question-head" *ngIf="questionData.q_type == 'MCQ'"> <b>Correct Answer - <span>{{tempObj[questionData.student_test_ans.correct_answer]}}</span> </b> </p>
          <div *ngIf="questionData.q_type == 'Case Study'">
            <div *ngFor="let caseStudyData of questionData.casestudies, let i = index">
             
              <p><b>Sub Question - </b>{{i + 1}}</p>
              <p [innerHTML]="caseStudyData.question">
  
                {{caseStudyData.question | removehtmltags}}
              </p>
              <p><b>Marks - </b>{{caseStudyData.marks}}</p>
              <ion-list  radio-group style="margin-bottom: 15px;">
  
                <div *ngIf="caseStudyData.question_type == 'MCQ' ">
                  
                <!-- (ionChange)="checkValue(questionData.question.id,$event)" -->
                <!-- <ion-radio-group value="{{caseStudyData.studentselected_c_s_option != null ? caseStudyData.studentselected_c_s_option.submitted_answer : ''}}" (ionChange)="mcqAnswer(caseStudyData.id,questionData.marks,questionData.q_type,questionData.test_id,$event)"> -->
                  <ion-radio-group value="">
                  <ion-label><b>Options</b></ion-label>
                  <ion-item>
                    <ion-label>
  
                      <b>a)</b> <p [innerHTML]="caseStudyData.option_1" style="color: #000000;white-space: normal;">
                        {{caseStudyData.option_1}}</p>
                    </ion-label>
                  </ion-item>
  
                  <ion-item>
                    <ion-label>
                      <b>b)</b> <p [innerHTML]="caseStudyData.option_2" style="color: #000000;white-space: normal;" checked="true">
                        {{caseStudyData.option_2}}</p>
                    </ion-label>
                    </ion-item>
  
                  <ion-item>
                    <ion-label>
                      <b>c)</b> <p [innerHTML]="caseStudyData.option_3" style="color: #000000;white-space: normal;">
                        {{caseStudyData.option_3}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <b>d)</b> <p [innerHTML]="caseStudyData.option_4" style="color: #000000;white-space: normal;">
                        {{caseStudyData.option_4}}</p>
                    </ion-label>
                  </ion-item>
                </ion-radio-group>
              </div>
              </ion-list>
              <p class="question-head" *ngIf="caseStudyData.question_type == 'MCQ'"> <b>Correct Answer - <span>{{caseStudyData[caseStudyData.answer] | removehtmltags}}</span> </b> </p>
            </div>
            <!-- <p><b>Marks - </b>{{caseStudyData.marks}}</p> -->
          </div>
        
        </div>
    
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="margin-10 mt-16" *ngIf="exist_theory_que == true">
    <ion-col size="12" class="padding-0">
      <h4 class="title-text m-0 font-weight-bold">Evaluated Answer Sheet Preview:</h4>
      <div class="test-step-2-question">
        
        <div class="holds-the-iframe" style="width: 100%; height: 98%; position: relative; -webkit-overflow-scrolling: touch; overflow-y: scroll;">

          <pdf-viewer src="{{new_url}}" [show-all]="true" [zoom]="zoom" [page]="page" [original-size]="false" style="display: block; background-color: white;"> 
          </pdf-viewer>
         
        </div> 
      </div>
    </ion-col>
  </ion-row> -->

  <ion-row class="mt-16 space-right-left bottom-margin">
    <ion-col size="6" class="padding-0" *ngIf="exist_theory_que">
      <div class=text-center *ngIf="status == 'completed'">
        <!-- <a class="details-link" target="_blank" href="{{checked_answerbook}}" >View Answer Sheet</a> -->
     
        
        <a class="details-link" (click)="viewAnswerSheet()" >View Answer Sheet</a>
       
        <!-- <a class="details-link" target="_blank" href="{{checked_answerbook}}" >View Answer Sheet</a> -->
      </div>
    </ion-col>
    <ion-col size="6" class="padding-0">
      <div class=text-center *ngIf="status == 'completed'">
        <a class="details-link" (click)="goToScoreCard()">View Score Card</a>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
