
.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #010244;
    border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #51c3d1;
}
.space-right-left{
    margin:0 5px;
}
.title-text{
    color: #416172;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}
.margin-10{
    margin:0 10px;
}
.total-test-mark h5{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    color: #F27376;
}
.total-test-mark{
    overflow: hidden;
    padding-top:2px;
    padding-left: 5px;
}
.test-evaluation-details-heading h4{
    margin-top: 0px;
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    color: #2b5465;
}
.test-evaluation-details-heading{
    float: left;
}
.mt-16{
    margin-top:16px;
}
.score-btn{
    padding: 8px 10px;
    border: none;
    background-color: #3f5c9b;
    color: #ffffff;
    border-radius: 6px;
    font-size: 13px;
    margin: 15px 0 0 0;
    transition: 0.3s;
}
.test-step-2-question {
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    border-radius: 8px !important;
    background-color: #ffffff;
    padding: 10px;
    height:530px;
    overflow-y: scroll;
    overflow-x:hidden ;
}
.test-step-2-question p{
    margin-top:5px;
    font-weight: 500;
}
.m-0{
    margin-top:0px;
}
.font-weight-bold{
    font-weight: 500;
}
.details-link{
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
    color: #3F5C9B;
    padding: 8px 10px;
    display: block;
}
.mb-0{
    margin-bottom: 0;
}
.mt-16 {
    margin-top: 16px;
}

.change-width{
    height: 700px;
    position: absolute;
    z-index: 99;
    top: -280px;
    width: 100%;
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    border-radius: 8px !important;
    background-color: #ffffff;
    padding: 10px;
    overflow-y: scroll;
    overflow-x:hidden ;
}
.question-head{
    font-size: 14px;
    font-weight: 400 !important;
}
.expand-paper{
    float: right;
    background: none;
    font-size: 22px;
    color: #213154;
    padding: 0;
}
.bottom-margin{
    margin-bottom: 20px;
}