<ion-header>
  <ion-toolbar>
    <ion-title>My Packages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="getHome()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount ? cartCount : '0'}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>My Packages</h2>
              <span>{{course_name}}</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-list class="border-all">
        <ion-item lines="none">
          <ion-label class="reg-num">Choose Subject</ion-label>
          <ion-select (ionChange)="getPackages($event)">
            <ion-select-option *ngFor="let list of subjectList" [value]="list.id">{{list.subject_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <div class="tab-list-view" *ngFor="let packages of myAllPackageList, let i = index">
      <ion-row class="chapter-box">
        <ion-col size="8" class="chapter-test-heading">
          <h3>{{packages.package.name}}</h3>
        </ion-col>
        <ion-col size="4" class="price-chapter">
          <span>INR {{packages.package.price}}/-</span>
        </ion-col>
        <ion-col size="5" class="test-available-chapter">
          <p>Tests Available:</p>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <span>{{packages.package.package_tests.length}}</span>
        </ion-col>
        <ion-col size="5" class="test-available-chapter">
          <p>Subject Name:</p>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <span>Principles and Practices of Accounting</span>
        </ion-col>
        <ion-col size="4" class="view-more-btn">
          <!-- <span>View More</span> -->
        </ion-col>
        <ion-col size="8" class="view-more-btn">
          <ion-button class="start-btn" (click)="GoToTestBoard()">Go To Testboard
            <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-row>
</ion-content>