.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
.border-all {
    border: 1px solid #b1bcd4;
    border-radius: 10px;
    margin-bottom: 22px;
    color: #8a959e;
}
.reg-num {
    font-size: 15px;
    font-weight: 300;
    color: #8a959e;
    padding-left: 15px;
}
.space-3 {
    margin: 25px 20px 0px;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.chapter-box{
    margin: 0px 20px 10px;
    border-radius: 20px;
    border: 1px solid #b1bcd440;
    padding: 10px;
    box-shadow: 0px 1px 12px -4px #37242442;
}
.chapter-test-heading h3{
    font-weight: 500;
    margin: 0;
    font-size: 20px;
    color: #305F72;
}
.price-chapter span{
    font-weight: 400;
    font-size: 18px;
    color: #305F72;
    text-align: right;
    margin: 0 auto;
    display: block;
}
.test-available-chapter p{
    margin: 2px 0;
    font-size: 14px;
    font-weight: 400;
    color: #305F72;
}
.test-available-chapter span{
    font-size: 15px;
    font-weight: 400;
    color: #F27376;
}
.view-more-btn span{
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
    color: #3F5C9B;
    padding: 8px 0;
    display: block;
}
.start-btn {
    background: #3f5c9b !important;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 8px;
    height: 33px;
    margin: 0;
    width: auto;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    float: right;
}
ion-button {
    --background: #3f5c9b !important;
    border-radius: 10px;
    margin-top: 60px;
}
.aerrow-btn{
    padding-left: 5px;
}