.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    top: -15px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.title-text{
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #305F72;
}
.m-10{
    margin: 0 10px;
}
.mt-16{
    margin-top:16px;
}
.form-control-cart {
    border: 1px solid #2f3a755c !important;
    font-size: 14px !important;
    border-radius: 8px;
    --color: rgb(48 95 114);
    font-weight: 400;
    padding: 0;
    margin-right: 4px;
}
.font-size-1{
    font-size:12px;
    margin:0;
}

.test-history-btn button{
    border: none;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 400;
    background-color: #3f5c9b;
    color: white;
    border-radius: 8px;
    outline: none;
    margin: 10px auto 0;
    text-align: center;
    display: block;
    transition: 0.3s;
}
ion-select{
    width:34px;
    padding:5px;
    padding-left:0;
}
ion-item{
    --padding-start: 12px;
    --min-height: 35px;
}
.mb-0{
    margin-bottom: 0px;
}
.queries-content span{
    font-size:15px;
    color:#696969;
}

.space-right-left{
    margin:0 5px;
}
.title-text{
    color:#2a2a2a;
    font-size:15px;
    font-weight: 500;
    padding-left: 5px;
}
.test-history-btn button{
    border: none;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 400;
    background-color: #3f5c9b;
    color: white;
    border-radius: 8px;
    outline: none;
    margin: 10px auto 0;
    text-align: center;
    display: block;
    transition: 0.3s;
}
.font-size-1{
    font-size:13px;
    margin:0;
}
ion-select{
    width:34px;
    padding:5px;
    padding-left:0;
}
ion-item{
    --padding-start: 12px;
    --min-height: 35px;
}
.form-control-cart {
    border: 1px solid #2f3a755c !important;
    font-size: 14px !important;
    border-radius: 8px;
    --color: rgb(48 95 114);
    font-weight: 400;
    padding: 0;
    margin-right: 4px;
}
.margin-10{
    margin:0 10px;
}
button{
    padding:0;
}
.mt-16{
    margin-top:16px;
}
.m-0{
    margin:0px;
}
.tab-list-view{
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.56);
    border-radius: 8px;
    padding:20px 10px;
    margin:0 10px;
    margin-bottom:15px;
}
.tab-list-content h2{
    font-size:13px;
    font-weight:400;
    margin-top:0;
    margin-bottom: 5px;
}
.tab-list-content h3 strong{
    font-size:14px;
}
.tab-list-content h3{
    font-size:13px;
    font-weight:400;
    margin-top:0;
    margin-bottom: 5px;
}
.tab-list-content a{
    font-size:14px;
    font-weight:400;
    color:#51c3d1;
}
.center-text{
    display: flex;
    align-items: center;
    padding-left:9px;
}
.center-text span{
    font-size: 13px;
}
.complete-btn{
    padding:10px 28px;
    color:#2a2a2a;
    font-weight: 500;
    font-size:13px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #28a745;
    color:#fff;
    margin-top:18px;
}
.submited-btn{
    padding:10px 27px;
    color:#2a2a2a;
    font-weight: 400;
    font-size:13px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #ffc107;
    color:#fff;
    margin-top:18px
}
.pending-status{
    padding:10px 15px;
    color:#2a2a2a!important;
    font-weight: 400;
    font-size:13px!important;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #d7d7d7;
    margin-top:5px;
    text-decoration:none;
    display: inline-block;
}
.not_found{
    padding: 22px;
    font-size:20px;
}
.queries-content img{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    display: block;
}