<ion-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getHome()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">My Queries</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>My Queries</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="m-10">
    <ion-col size="8" class="padding-0">
      <h4 class="title-text mb-0">My Queries</h4>
    </ion-col>
  </ion-row>

  <ion-row class="m-10 mt-16">
    <ion-col size="4" class="padding-0">
      <ion-list class="form-control-cart">
        <ion-item lines="none" style="border-radius: 25px;">
          <ion-label class="text-gray font-size-1">Packages</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="getTestData($event)">
            <ion-select-option *ngFor="let list of packageList" value="{{list.package_id}}">{{list.package.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="4" class="padding-0">
      <ion-list class="form-control-cart">
        <ion-item lines="none" style="border-radius: 25px;">
          <ion-label class="text-gray font-size-1">Test</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="selectTest($event)">
            <ion-select-option *ngFor="let tests of package_test" value="{{tests.id}}">{{tests.title}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="4" class="padding-0">
      <ion-list class="form-control-cart">
        <ion-item lines="none" style="border-radius: 25px;">
          <ion-label class="text-gray font-size-1">All</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="selectStatus($event)">
            <ion-select-option value="0">Posted</ion-select-option>
            <ion-select-option value="1">Replied</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>

  </ion-row>

  <ion-row class="mt-16">
    <ion-col size="8" offset="2" class="padding-0">
      <div class="test-history-btn">
        <button ion-button type="submit" (click)="submit_filter()">Search</button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-16" *ngIf="queries != ''">
    <ion-col size="12" class="padding-0">
      <div class="tab-list-view" *ngFor = "let query of queries">
        <ion-row >
          <ion-col size="8" class="padding-0">
            <div class="tab-list-content">
              <h3>
                <strong>Package </strong>
                 - {{query.test.package.name}}
              </h3>
              <h3>
                <strong>Test Name </strong>
                - {{query.test.title}}
              </h3>
              <h3>
                <strong>Course name </strong> 
                - {{query.test.package.course.course_name}}
              </h3>
              <h3>
                <strong>My Query </strong> 
                - {{query.query}}
              </h3>
              <h3 *ngIf="query.reply_comment != null">
                <strong>Examiner Reply </strong> 
                - {{query.reply_comment}}
              </h3>
            </div>
          </ion-col>
          <ion-col size="4" class="padding-0">
           <div class="tab-list-content">
            <h3><strong>Posted on</strong></h3>
            <h3><strong>{{query.created_at}}</strong></h3>
           </div>
           <div class="complete-btn-main">
            <button ion-button full class="{{query.reply_comment == null ? 'complete-btn' : 'submited-btn'}} ">{{query.reply_comment == null ? 'Posted' : 'Replied'}}</button>
          </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-16" *ngIf="queries == ''">
    <ion-col size="12" class="padding-0" >
      <div class="queries-content">
        <img src="assets/icon/ops-queries.png" alt="no-packages-found">
      </div>
    </ion-col>
  </ion-row>

</ion-content>
