<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <!-- <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li> -->
          <!-- <li>
            <img src="assets/icon/notification.png" class="cart">
          </li> -->
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">Videos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Videos</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-16">
    <ion-col size="12" class="course-name-heading">
        <ion-label>{{course_name}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <ion-list class="border space-m10 outer-border">
        <ion-item lines="none">
          <ion-label class="m-0 choose-subject-new">Choose Subject</ion-label>
          <ion-select (ionChange)="getVideos($event)">
            <ion-select-option *ngFor="let list of subjectList" [value]="list.id">{{list.subject_name}}</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="mt-15 m-10">
    <ion-col size="12" class="padding-0 bottom-space" *ngFor="let video of video_list, let i = index">
      <div class="tab-list-view" >
        <ion-row >
          <ion-col size="4" class="padding-0">
            <div class="tab-list-content">
              <h6 class="m-0">Description</h6>
              <span class="m-0 d-block">{{video.description}}</span>
            </div>
          </ion-col>
          <ion-col size="4" class="padding-0">
            <div class="test-count text-center">
              <a (click)="openPopover(video.id,$event)" value="video.id">View Chapters</a>
                            
            </div>
          </ion-col>
         
        </ion-row>
        <br>
        <ion-row>
          <!-- <span>video :-</span> -->
          <ion-col class="padding-0">
            <iframe allowfullscreen frameborder="0" height="160" width="100%" [src]="video.video_link | safe">
            </iframe>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row> 