::slotted(ion-label) {
    margin-top:0px;
    margin-bottom:0px;
}
.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    top: -15px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.course-name-heading ion-label{
    color: #305f72;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 15px;
}
.padding-0{
    padding:0;
}
.mt-16{
    margin-top:16px;
}
.m-0{
    margin: 0;
}
.text-white{
    color:#fff;
}
.outer-border{
    font-size: 14px !important;
    margin: 10px 20px;
    --color: rgb(44, 44, 44);
    font-weight: 400;
    padding: 0;
    border: 1px solid #b1bcd4;
    border-radius: 10px;
    color: #8a959e;
}
.tab-list-view{
    border: 1px solid #b1bcd440;
    box-shadow: 0px 1px 12px -4px #37242442;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 10px 20px;
}
.tab-list-content span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.tab-list-content a{
    font-size:13px;
    font-weight:600;
    color:#020551;
}
.test-count h6{
    font-size:14px;
    font-weight:500;
    margin-bottom: 5px;
}
.test-count a{
    color: #f27376;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-weight: 500;
}   
.choose-subject-new{
    font-size: 16px;
    padding: 10px;
}
.tab-list-content h6{
    color: #305f72;
    text-transform: capitalize;
    padding: 3px 0;
}
.test-count span{
    font-size:18px;
}
.test-cart{
    font-size:15px;
    font-weight: 400;
}
.text-right{
    text-align: right;
}
.cart-btn{
    padding:8px 12px;
    color:#ffffff;
    font-weight: 400;
    font-size:15px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #51C3D1;
    margin-top:15px;
}
.test-count{
    padding-left:7px;
}
.courses-tab h6{
    font-weight:400;
    font-size:14px;
}
.courses-tab{
    padding-left:10px;
}
ion-tab-button{
    --background-color:transparent;
}
ion-tab-bar,
ion-tab-button {
    background: rgba(0,0,0,0);
    color: #ffffff;
    margin:-15px 0;
}
.active:after{
    content:"";
    width:30px;
    height:2px;
    display: block;
    background: #fff;
}
.text-left{
    text-align: left;
}
ion-label{
    font-weight:400;
}
button:focus{
    outline:none;
}
ul.shopping-icon{
    list-style-type: none;
}
.menu-icon button{
    padding-top: 5px;
}
.menu-icon button:focus{
    outline: none;
}
.nav-title h6{
    margin: 10px 0 0 0;
    color:#fff;
    font-weight: 400;
    text-align: center;
}
.cart-btn{
    padding: 8px 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: #020551;
    margin-top: 5px;
}