<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getHome()"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons> -->
    <ion-title class="ios title-default hydrated">Test History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="getHome()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Test History</h2>
              <span>My Test History</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="margin-10 mt-16">
    <ion-col size="4" class="padding-0" >
      <ion-list class="form-control-cart" >
        <ion-item lines="none" style="border-radius: 8px;">
          <ion-label class="text-gray font-size-1">Subjects</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="getTestPackages($event)">
            <ion-select-option *ngFor="let list of subjectList" value="{{list.id}}">{{list.subject_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="4" class="padding-0">
      <ion-list class="form-control-cart">
        <ion-item lines="none" style="border-radius: 8px;">
          <ion-label class="text-gray font-size-1">Packages</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="getTestData($event)">
            <ion-select-option *ngFor="let list of packageList" value="{{list.id}}">{{list.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="4" class="padding-0">
      <ion-list class="form-control-cart">
        <ion-item lines="none" style="border-radius: 8px;">
          <ion-label class="text-gray font-size-1">Test</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="selectTest($event)">
            <ion-select-option *ngFor="let tests of package_test" value="{{tests.id}}">{{tests.title}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="margin-10 mt-16 space-right-left">

    <ion-col size="4" class="padding-0">
      <ion-list class="form-control-cart">
        <ion-item lines="none" style="border-radius: 8px;">
          <ion-label class="text-gray font-size-1">Status</ion-label>
          <ion-select value="" okText="Ok" (ionChange)="selectStatus($event)">
            <ion-select-option value="submitted">Submitted</ion-select-option>
            <ion-select-option value="completed">Completed</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="8">
      <div class="test-history-btn">
        <button ion-button type="submit" (click)="submit_filter()" >Search</button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-16" *ngIf="testHistory != null">
    <ion-col size="12" class="padding-0">
      <div class="tab-list-view" *ngFor = "let test of testHistory">
        <ion-row >
          <ion-col size="8" class="padding-0">
            <div class="tab-list-content">
              <h3>
                <strong>Package </strong>
                 - {{test.package.name}}
              </h3>
              <h3>
                <strong>Test Name </strong> - 
                {{test.examtest.title}}
              </h3>
              <h3>
                <strong>Test Marks </strong> 
                - {{test.examtest.total_marks}}
              </h3>
              <!-- <h3>
                <strong>Marks Obtained </strong>
                 = 70%
              </h3> -->
              <a (click)="viewDetails(test.id,test.test_id,test.obtained_marks,test.package.price)">View Details</a>
            </div>
          </ion-col>
          <ion-col size="4" class="padding-0">
           <div class="dates-sam">
             <!-- <img src="assets/icon/date.png"> -->
             <strong>Ended at - </strong> 
             <span>{{test.updated_at}}</span>

           </div>
           <div class="complete-btn-main">
            <button ion-button full class="{{test.status == 'completed' ? 'complete-btn' : 'submited-btn'}} ">{{test.status == 'completed' ? 'Completed' : 'Submitted'}}</button>
          </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-16" *ngIf="testHistory == null">
    <!-- <p class="not_found"><b>Not Result Found</b> </p> -->
    <ion-col size="12" class="padding-0" >
      <div class="queries-content">
        <!-- <span>No Packages Found!!</span> -->
        <img src="assets/icon/no-result.png" alt="no-packages-found">
      </div>
    </ion-col>
  </ion-row>


</ion-content>
