// app-popover{
//     --width:250px!important;
// }
.popover-main-holder {
    // padding:10px 0;
    min-height: 150px;
}
.popover-main-holder h4 {
    margin: 0px 0px 10px 0px;
    padding: 15px 0px 15px 0px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    background-color: #df6a6d;
}
ul.list {
    margin: 5px 0;
}
.list li {
    padding: 7px 0 7px 0;
    font-size: 15px;
    color: #2c5869;
}

.popover-scroll {
    overflow: scroll;
    max-height: 300px;
    min-width: 250px;
}
