<!-- <ion-header>
  <ion-toolbar>
    <ion-title>scorecardpopover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<div class="popover-scroll">
<div class="popover-main-holder">
  <h4 class="text-center">Chapter List</h4>
  <ul class="list" *ngFor="let chapters of chapter_list">
    <li class="item">{{chapters.title}}</li>
  </ul>
  <p *ngIf="chapter_list == ''" style="color: red;text-align: center;">No chapters found</p>

</div>
</div>
