ion-header {
    display: none;
    color: #4f689e;
}
.header-arrow {
    padding: 10px;
}
.back-arrow {
    background: #f6b7b5;
    padding: 10px;
    border-radius: 11px;
    width: 45px;
    text-align: center;
    float: left;
}
.back-arrow ion-icon {
    font-size: 22px;
    color: #fff;
}
.sign-up-ttl {
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
}
.form-control {
    border: 1px solid #b1bcd4;
    border-radius: 10px;
    margin-bottom: 22px;
    font-size: 15px;
    padding: 15px !important;
    color: #585858;
    --font-family: 500;
}
ion-label {
    margin: 0;
}
.space-3 {
    margin: 0 30px;
}
.border-all {
    border: 1px solid #b1bcd4;
    border-radius: 10px;
    margin-bottom: 22px;
    color: #8a959e;
}
ion-input {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.reg-num {
    font-size: 15px;
    font-weight: 300;
    color: #8a959e;
    padding-left: 15px;
}
.space-m-50 {   
    margin: 10px 82px 10px;
}
ion-button {
    --background: #3f5c9b !important;
    --border-radius: 10px;
}
.checkbox-txt .label {
    font-size: 14px !important;
}
ion-checkbox {
    --border-radius: 3px;
    --size: 16px;
    --border-color: 1px solid rgb(63 92 155) !important;
}
.checkbox-txt ion-label {
    font-size: 15px;
}
.term-text {
    color: #3f5c9b;
    text-decoration: underline;
    font-weight: 500;
}
.account {
    font-size: 15px;
    color: #5b5b5b;
    margin: 5px 0 20px;
    font-weight: 500;
}
.sign-in-text {
    color: #f27376;
    font-weight: 500;
}
.submit-btn {
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 10px;
    --min-height: 51px;
    height: 51px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.top-img {
    width: 100%;
}
.checkbox-txt {
    margin: 0 auto;
    display: inline-block;
}
.back img{
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
}