<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <div class="back" (click)="getHome()">
      <img src="assets/back.svg" alt="back">
    </div>
    <ion-col size="12" class="padding-0">
      <img src="assets/sign-up.svg" class="top-img">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <p class="text-center sign-up-ttl"> Don't have an account? Create your account here..</p>
    </ion-col>
  </ion-row>

  <form #itemForm="ngForm" (ngSubmit)="signupAction()">
  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-list class="border-all">
        <ion-item lines="none">
          <ion-label class="reg-num">Registration Number head</ion-label>
          <ion-select value="" okText="Ok" cancelText="Dismiss" [(ngModel)]='postData.registration_group' name="registration_group" required>
            <ion-select-option value="WRO">WRO</ion-select-option>
            <ion-select-option value="SRO">SRO</ion-select-option>
            <ion-select-option value="CRO">CRO</ion-select-option>
            <ion-select-option value="ERO">ERO</ion-select-option>
            <ion-select-option value="NRO">NRO</ion-select-option>
            <ion-select-option value="NRO">FRO</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="tel" maxlength="7" placeholder="ICAI Registration No" class="form-control" [(ngModel)]='postData.registration_number' name="registration_number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="text"placeholder="First Name" class="form-control" [(ngModel)]='postData.first_name' name="first_name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="text" placeholder="Last Name" class="form-control" [(ngModel)]='postData.last_name' name="last_name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="email" placeholder="Enter email Id" class="form-control" autocomplete="off" type="email" name="email" [(ngModel)]='postData.email'></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="Password" placeholder="Password" class="form-control" [(ngModel)]='postData.password_reg' name="password_reg"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="Password" placeholder="Password Confirmation" class="form-control" [(ngModel)]='postData.password_confirmation_reg' name="password_confirmation_reg"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="tel" maxlength="10" placeholder="Phone No" class="form-control" [(ngModel)]='postData.phone_number' name="phone_number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="text" placeholder="City" class="form-control" [(ngModel)]='postData.city' name="city"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="text"  placeholder="State" class="form-control" [(ngModel)]='postData.state' name="state"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-item lines="none">
        <ion-input type="text" placeholder="Country" class="form-control" [(ngModel)]='postData.country' name="country"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-list class="border-all">
        <ion-item lines="none">
          <ion-label class="reg-num">Courses</ion-label>
          <ion-select value="" okText="Ok" cancelText="Dismiss" [(ngModel)]='postData.course_id' name="course_id" required>
            <ion-select-option value="1">CA Foundation</ion-select-option>
            <ion-select-option value="2">CA Inter</ion-select-option>
            <ion-select-option value="3">CA Final</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="text-center padding-0">
      <ion-item class="checkbox-txt" lines="none">
        <ion-checkbox color="" [(ngModel)]='postData.tnc' name="tnc"></ion-checkbox>&nbsp;
        <ion-label class="padding-left-10">  I accept these <span class="terms-text"><a href="http://makemytest.in/terms-condition">Terms & Condition</a></span></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <div class="space-m-50">
        <ion-button expand="block" class="submit-btn" type="submit">Submit</ion-button>
      </div>
    </ion-col>
  </ion-row>

  </form>


  <ion-row>
    <ion-col size="12" class="padding-0 text-center">
      <p class="account">Already Have an Account?<span class="sign-in-text" routerLink='/login'> Log In</span></p>
    </ion-col>
  </ion-row>


</ion-content>