.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
// ::-webkit-scrollbar {
//     width: 5px;
//   }
//   ::-webkit-scrollbar-track {
//     border-radius: 8px;
//   }
//   ::-webkit-scrollbar-thumb {
//     background: #020551; 
//     border-radius: 8px;
//   }
//   ::-webkit-scrollbar-thumb:hover {
//     background: #020551; 
//   }
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #010244;
    border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #51c3d1;
}
.reading-time {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.reading-time span{
    padding: 8px 10px;
    border: none;
    background-color: #607d8b;
    color: #ffffff;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
    display: block;
    margin: 15px auto 5px;
    text-align: center;
    width: 120px;
}
.space-right-left{
    margin:0 5px;
}
.title-text{
    color: #416172;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}
.reading-time input{
    width:7em;
    background-color: #51C3D1;
    border:none;
    height: 30px;
    border-radius: 5px;
    padding:0 15px;
}
.image-space{
    margin-top:10px;
}
.image-space img{
    height:25px;
}
.clear{
    clear:both;
}
.test-name h2{
    margin-top: 0px;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
    color: #F27376;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.test-name strong {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    color: #2b5465;
}
.margin-10{
    margin:0 10px;
}
.mt-16{
    margin-top:16px;
}
.expand-paper{
    float: right;
    background: none;
    font-size: 22px;
    color: #213154;
    padding: 0;
}
.star-rating {
    text-align: center;
    margin-top:16px;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.test-step-2-question {
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    border-radius: 8px !important;
    background-color: #ffff66;
    padding: 10px;
    height:470px;
    overflow-y: scroll;
    // overflow-x:hidden ;
}
// .test-step-2-question p {
//     text-align: center;
//     padding-top: 117px;
//     padding-right: 85px;
//     font-size: 40px;
//     font-weight: 400;
//     opacity:0.3;
//     transform: rotate(-395deg);
// }
.mb-8{
    margin-bottom: 8px;
}
.start-exam-btn{
    box-shadow: none !important;
    width: 125px;
    padding: 10px 12px;
    border: none;
    background-color: #3f5c9b;
    color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    margin: 0px 0 20px 0;
    transition: 0.3s;
    text-align: center;
}
.cancel-btn{
    padding:9px 0;
    color:#2a2a2a;
    font-weight: 400;
    font-size:16px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #d7d7d7;
    width:100%;
}
.m-30{
    margin:0 30px;
}
.star-rating img{
    padding-left:7px;
}
// input[type="file"] {
//     display: none;
// }
.choose {
    color: white;
    display: inline-block;
    background: #51c3d1;
    border: none;
    padding: 5px 35px;
    font-weight: 400;
    border-radius: 30px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    margin-right: 5px;
}
// input[type="file"]{
//     display: block;
// }


.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: "Choose File";
    color: #fff;
    display: inline-block;
    background: -webkit-linear-gradient(top, #51C3D1, #51c3d1);
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 7px 20px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    width: 60px;
}
input:focus{
    outline: none;
}

.change-width{
    height: calc(100% - 56px);
    position: fixed;
    z-index: 99;
    top: 50px;
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    border-radius: 8px !important;
    background-color: #ffffff;
    padding: 10px;
    overflow-y: scroll;
    background-color: #ffff66;
    width: 100%;
}

.custom-file-upload {
    font-weight: 400;
    border-radius: 26px !important;
    box-shadow: none !important;
    width: 125px;
    padding: 6px 12px;
    border: none;
    background-color: #f19895;
    color: #ffffff;
    font-size: 16px;
    margin: 4px 0 20px 0;
    transition: 0.3s;
    text-align: center;
}
.custom-file-upload .custom-file-upload1 {
    border: none;
    display: inline-block;
    cursor: pointer;
    background-color: #f19895;
    border-radius: 50px;
    color: #ffffff;
}
.custom-file-upload input[type="file"] {
    display: none;
}
.test-step-2-question h4{
    color: #416172;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}
.test-step-2-question p{
    font-size: 14px;
    font-weight: 400 !important;
}

// .question_paper{
//     width: auto;
//     height: auto;
// }
