<script src="cordova.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getHome()"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png">
          </li>
        </ul>
      </ion-button>
    </ion-buttons> -->
    <ion-title class="ios title-default hydrated">Take the Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="getHome()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Take the Test</h2>
              <!-- <span>Test Evaluation Details</span> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="space-right-left">
    <ion-col size="7" class="padding-0">
      <!-- <h4 class="title-text">Step 2 - Take The Test</h4> -->
    </ion-col>

    <ion-col size="5" class="padding-0">
      <form>
        <div class="reading-time">
          <!-- <input type="time" name="time1" value={{final_timer}}> -->
          <span>{{final_timer}} <i class="fa fa-clock"></i></span>
          <!--<span>{{minute}}</span>
          <span>{{second}}</span> -->
        </div>
        <div class="clear"></div>
      </form>
    </ion-col>
  </ion-row>

  <ion-row class="margin-10 mt-16">
    <ion-col size="12" class="padding-0">
      <div class="test-name">
        <h2>
          <strong>Test Name</strong>
          - {{testdetails?.title}}</h2>
      </div>
      <div class="test-name">
        <h2>
          <strong>Test Subjects</strong> 
          - {{testResponse?.subject_name}}</h2>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="7" class="padding-0">
      <h4 class="title-text mb-8">Test Paper Preview</h4>
      <!-- <ion-button color="primary" (click)="exportPdf()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button> -->
    </ion-col>
    <ion-col size="5" class="padding-0">
      <div style="text-align: center;">
        <ion-button color="primary" (click)="exportPdf()">
          <ion-icon slot="icon-only" name="print"></ion-icon>
        </ion-button>
      </div>
    
    </ion-col>
    <!-- <ion-col size="5" class="padding-0">
      <div class="star-rating">
        <img src="assets/icon/star.png">
        <img src="assets/icon/star.png">
        <img src="assets/icon/star.png">
        <img src="assets/icon/star.png">
        <img src="assets/icon/star.png">
      </div>
    </ion-col> -->
  </ion-row>
<ion-row>
  <ion-buttons slot="primary">
    
  </ion-buttons>
</ion-row>
    <ion-row class="margin-10" >
      <ion-col size="12" class="padding-0">
        <div [ngClass]="{'test-step-2-question':toggle, 'change-width': !toggle}" id="question_paper" class="question_paper">
          <form>
            <button (click)="changeWidth()" class="expand-paper">
              <ion-icon name="expand-outline"></ion-icon></button>
            <h4><b>Instructions</b></h4>
            <div>
              <p [innerHTML]="instructions">
                {{instructions | removehtmltags}}
              </p>
            </div>
   <br><br>
          <div *ngFor="let questionData of questionDetails">
            <b>Question {{questionData.subquestion_index}} </b> <b
              *ngIf='questionData.title'>({{questionData.title}})</b> <b
              *ngIf='questionData.sub_title'>({{questionData.sub_title}})</b>
              <b *ngIf="questionData.q_type == 'Case Study'">(Case Study)</b>
            <p [innerHTML]="questionData.question.question">

              {{questionData.question.question | removehtmltags}}
            </p>
            <div>
              <ion-list *ngIf="questionData.q_type == 'MCQ'" radio-group style="margin-bottom: 15px;">
                <!-- (ionChange)="checkValue(questionData.question.id,$event)" -->
                <ion-radio-group value="{{questionData.student_selected_mcq_option != null ? questionData.student_selected_mcq_option.submitted_answer : ''}}" (ionChange)="mcqAnswer(questionData.question.id,questionData.marks,questionData.q_type,questionData.test_id,$event)">
                  <ion-label><b>Options</b></ion-label>
                  <ion-item>
                    <ion-label>

                      <b>a)</b> <p [innerHTML]="questionData.question.option_1" style="color: #000000;white-space: normal;">
                        {{questionData.question.option_1}}</p>
                    </ion-label>
                    <!-- (ionSelect)="mcqAnswer(questionData.question.id,option_3)" -->
                    <ion-radio value="option_1" class="mcq_option"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>
                      <b>b)</b> <p [innerHTML]="questionData.question.option_2" style="color: #000000;white-space: normal;" checked="true">
                        {{questionData.question.option_2}}</p>
                    </ion-label>
                    <ion-radio slot="end" value="option_2" class="mcq_option"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>
                      <b>c)</b> <p [innerHTML]="questionData.question.option_3" style="color: #000000;white-space: normal;">
                        {{questionData.question.option_3}}</p>
                    </ion-label>
                    <ion-radio slot="end" value="option_3" class="mcq_option"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <b>d)</b> <p [innerHTML]="questionData.question.option_4" style="color: #000000;white-space: normal;">
                        {{questionData.question.option_4}}</p>
                    </ion-label>
                    <ion-radio slot="end" value="option_4" class="mcq_option"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
              <p><b>Marks - </b>{{questionData.marks}}</p>
            </div>
            <!-- case study sub questions and options starts-->
            <div *ngIf="questionData.q_type == 'Case Study'">
              <div *ngFor="let caseStudyData of questionData.casestudies, let i = index">
               
                <p><b>Sub Question - </b>{{i + 1}}</p>
                <p [innerHTML]="caseStudyData.question">

                  {{caseStudyData.question | removehtmltags}} 
                </p>
                <p><b>Marks - </b>{{caseStudyData.marks}}</p>
                <ion-list  radio-group style="margin-bottom: 15px;">

                  <div *ngIf="caseStudyData.question_type == 'MCQ' ">
                    
                  <!-- (ionChange)="checkValue(questionData.question.id,$event)" -->
                  <!-- <ion-radio-group value="{{caseStudyData.studentselected_c_s_option != null ? caseStudyData.studentselected_c_s_option.submitted_answer : ''}}" (ionChange)="mcqAnswer(caseStudyData.id,questionData.marks,questionData.q_type,questionData.test_id,$event)"> -->
                    <ion-radio-group value="{{studentSelectedCSOption[caseStudyData.id] != null ? studentSelectedCSOption[caseStudyData.id].submittedans : '' }}" (ionChange)="mcqAnswer(caseStudyData.id,questionData.marks,questionData.q_type,questionData.test_id,$event)">
                    <ion-label><b>Options</b></ion-label>
                    <ion-item>
                      <ion-label>

                        <b>a)</b> <p [innerHTML]="caseStudyData.option_1" style="color: #000000;white-space: normal;">
                          {{caseStudyData.option_1}}</p>
                      </ion-label>
                      <!-- (ionSelect)="mcqAnswer(questionData.question.id,option_3)" -->
                      <ion-radio value="option_1" class="mcq_option"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>
                        <b>b)</b> <p [innerHTML]="caseStudyData.option_2" style="color: #000000;white-space: normal;" checked="true">
                          {{caseStudyData.option_2}}</p>
                      </ion-label>
                      <ion-radio slot="end" value="option_2" class="mcq_option"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>
                        <b>c)</b> <p [innerHTML]="caseStudyData.option_3" style="color: #000000;white-space: normal;">
                          {{caseStudyData.option_3}}</p>
                      </ion-label>
                      <ion-radio slot="end" value="option_3" class="mcq_option"></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>
                        <b>d)</b> <p [innerHTML]="caseStudyData.option_4" style="color: #000000;white-space: normal;">
                          {{caseStudyData.option_4}}</p>
                      </ion-label>
                      <ion-radio slot="end" value="option_4" class="mcq_option"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </div>
                </ion-list>
              </div>
              <!-- <p><b>Marks - </b>{{caseStudyData.marks}}</p> -->
            </div>
             <!-- case study sub questions and options ends-->
          </div>
        </form>
      </div>
    </ion-col>
  </ion-row>

    <ion-row class="margin-10" >
      <!-- <ion-col size="8" class="text-center padding-0">
          <input type="file" name="file" class="custom-file-input" (change)="upload($event)"  #uploader />
      </ion-col> -->
     <ion-col size="6" class="text-center padding-0" *ngIf="exist_theory_que == true">
      <button ion-button full class="custom-file-upload">
        <label for="uploader" class="custom-file-upload1">
          Upload
        </label>
        <input type="file" id="uploader" name="file" class="custom-file-input" (change)="upload($event)" #uploader />
      </button>
     </ion-col>
     <ion-col size="6" class="text-center padding-0">
      <button ion-button full class="start-exam-btn submited" type="submit" (click)="submit_test()">End Exam</button>
    </ion-col>
    </ion-row>

    <!-- <ion-row class="mt-16 margin-10">
      <ion-col size="4" class="text-center padding-0">
        <button ion-button full class="start-exam-btn submited" type="submit" (click)="submit_test()">Submit</button>
      </ion-col>
    </ion-row> -->

</ion-content>