<ion-header>
  <ion-toolbar>
    <ion-title>Refer and Earn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Refer and Earn</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="referral-img">
      <p>Refer a friend and earn</p>
      <img src="assets/referral-img.png" alt="referral-img">
        <div class="space-3 text-center" *ngIf = "student_referal_code != null">
            <ion-item  lines="none" class="text-center">
              <!-- <ion-input type="text" ion-button class="start-btn"  class="form-control" [(ngModel)]='student_referal_code' [readonly]="true"></ion-input>             -->
           
                <p style="background-color: #4ab84a; padding: 14px;"><b>{{student_referal_code}}</b></p>

            </ion-item>            
            <ion-button (click)="shareViaApps()">Share</ion-button>
            
          </div>
        <div class="social-icon text-center">
        </div>
        <ion-button *ngIf = "student_referal_code == null" ion-button class="start-btn" (click)="generateCode()">Click here to generate referral code<ion-icon name="chevron-forward-outline" class="aerrow-icon"></ion-icon></ion-button>
        
    
      <div class="referral-work">
        <h2>How does referral work?</h2>
        <p>1. Share above code to your friend<br>
          2. They register and place their order with referral 
               code.<br>
          3. They will get 5% discount on their order<br>
          4. You will get 5% of that order amount in your 
              MMT credit </p>
      </div>
    </ion-col>
  </ion-row>


</ion-content>
