.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    top: -15px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
ion-input {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
}

// .referral-img{

// }
.referral-img p{
    color: #305f72;
    font-weight: 500;
    font-size: 18px;
    margin: 3px auto 10px;
    text-align: center;
    display: block;
}
.referral-img img{
    padding: 12px 20px;
}
.start-btn {
    --background: #3f5c9b !important;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 8px;
    height: 38px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 0px 0;
}
.aerrow-icon{
    margin-left: 30px;
}
.social-icon ul{
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.social-icon li{
    padding: 0;
    display: inline-block;
    margin: 22px 6px 12px 6px;
}
.social-icon li img{
    padding: 0;
    width: 34px;
    height: 34px;
}
.referral-work h2{
    color: #305f72;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 15px 10px 15px;
    text-align: left;
    display: block;
}
.referral-work p{
    color: #305f72;
    font-weight: 400;
    font-size: 15px;
    margin: 5px 15px 5px 15px;
    text-align: left;
    display: inline-block;
    line-height: 1.5;
}