<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="test-board">
      <ion-icon class="test-board" name="settings-outline"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="dashboard">
      <ion-icon class="dashboard" name="easel-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="packages">
      <ion-icon class="packages" name="person-circle-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>