ion-tab-bar{
    height: 60px;
    border-radius: 30px 30px 0 0;
    border: 1px solid #B9C9EE;
    box-shadow: 0px 3px 12px 0px #9a9a9a66;
    border-bottom: none;
}

// test-board
.tab-selected .test-board  {
    background-image: url(../../../assets/tab-menu/test-board-active.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 27px;
    height: 30px;
}
.test-board:before {
    content: "\f448";
    font-size: 0;
}
.test-board {
    background-image: url(../../../assets/tab-menu/test-board.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 25px;
}
.test-board:before {
    content: "\f447";
    font-size: 0;
}

// dashboard
.tab-selected .dashboard {
    background-image: url(../../../assets/tab-menu/dashboard-active.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.dashboard:before {
    content: "\f448";
    font-size: 0;
}
.dashboard {
    background-image: url(../../../assets/tab-menu/dashboard.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}
.dashboard:before {
    content: "\f447";
    font-size: 0;
}

// packages
.tab-selected .packages {
    background-image: url(../../../assets/tab-menu/packages-active.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 25px;
}
.packages:before {
    content: "\f448";
    font-size: 0;
}
.packages {
    background-image: url(../../../assets/tab-menu/packages.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 19px;
}
.packages:before {
    content: "\f447";
    font-size: 0;
}