/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f5c9b;
    border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #51c3d1;
}
.title-text{
    color:#2a2a2a;
    font-size:15px;
    font-weight: 500;
    padding-left: 5px;
}
.space-right-left{
    margin:10px 5px 20px 5px;
}
.padding-0{
    padding:0;
}
.margin-0{
    margin:0px;
}
.package-taken{
    border-radius: 15px !important;
    padding: 12px;
    text-align: center;
    height: 90px;
    color: #fff;
    margin: 10px 15px 0;
}
.package-taken h6{
    font-size: 16px;
    color: #305F72;
    text-align: left;
    padding-top: 20px;
}

.package-taken span {
    font-size: 17px;
    font-weight: 500;
    color: #305F72;
    border-radius: 50%;
    position: relative;
    top: 20px;
}
.package-taken img{
    width: 58px;
    height: 58px;
    float: left;
}
.bg-purple{
    background-color:#FAE4F4;
}
.bg-green{
    background-color:#FFF5E5;
}
.bg-blue{
  background-color: #E7FFE5;
}
.space-top-16{
    margin-top:16px;
}
.package-taken-inner{
    border-radius: 15px !important;
    padding: 22px 25px;
    text-align: center;
    height: 115px;
    color: #305F72;
    margin: 0 15px;
}
.package-taken-inner h6{
    font-sizE:14px;
}
.package-taken-inner span{
    font-size: 35px;
    font-weight: 500;
    display: block;
    color: #3F5C9B;
    padding-top: 8px;
}
.table-bg {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    margin-bottom: 25px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.bg-info-color {
    background-color: #F27376;
    color: #ffffff;
}
.table-bordered thead th {
    border-bottom-width: 2px;
    font-size: 14px;
    font-weight: 400;
}
.course-ttl{
    font-size:13px;
    font-weight:500;
}
.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
}
.table td, .table th {
    padding: 0.55rem;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table-responsive > .table-bordered {
    border: 0;
    margin: 0;
    background-color: #ffffff;
}
.table-hover tbody tr:hover {
    color: #495057;
    background-color: rgba(0, 0, 0, .0375);
}
.completed-td {
    color: #00a52f;
}
.header-icon{
    float:right;
}

ul.shopping-icon{
    list-style-type:none;
}
.menu-icon button{
    padding-top: 5px;
}
.menu-icon button:focus{
    outline: none;
}
.nav-title h6{
    margin:8px 0 0 0;
    color:#fff;
    font-weight: 400;
}
table{
    width: 100%;
}
.text-blue{
    color:#3b7ddd;
}
.submitted{
    color:#fc7b03;
}
.examstart{
    color:#4f8a25;
}
.examcompleted{
    color:#00a52f;
}
.taketest{
    color:#3b7ddd;
}

.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}