<ion-header>
  <ion-toolbar>
     <ion-title >Test Board</ion-title>
   </ion-toolbar>
 </ion-header>
 
 <ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Test Board</h2>
              <span>My Test Board</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
 
   <ion-row class="space-right-left">

     <ion-col size="12"class="padding-0">
       <ion-row class="package-taken bg-purple">
         <ion-col size="3"><img src="assets/test-board-icon/packages-taken.svg"></ion-col>
         <ion-col size="7"><h6 class="margin-0">Total Packages Taken</h6></ion-col>
         <ion-col size="2"><span>{{totalPackages}}</span></ion-col>
       </ion-row>
     </ion-col>

     <ion-col size="12"class="padding-0">
      <ion-row class="package-taken bg-green">
        <ion-col size="3"><img src="assets/test-board-icon/total-test.svg"></ion-col>
        <ion-col size="7"><h6 class="margin-0">Total Tests Available</h6></ion-col>
        <ion-col size="2"><span>{{total_avail_tests}}</span></ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12"class="padding-0">
     <ion-row class="package-taken bg-blue">
       <ion-col size="3"><img src="assets/test-board-icon/test-score.svg"></ion-col>
       <ion-col size="6"> <h6 class="margin-0">Average Test Score</h6></ion-col>
       <ion-col size="3"><span>{{avg_percantage}} %</span></ion-col>
     </ion-row>
   </ion-col>

   </ion-row>
 
   <ion-row class="space-top-16 space-right-left">
     <ion-col size="6" class="padding-0">
       <div class="package-taken-inner" style="background-color: #FAE4F4;">
         <h6 class="margin-0">Total Packages Taken</h6>
         <span>{{totalPackages}}</span>
       </div>
     </ion-col>
     <ion-col size="6" class="padding-0">
       <div class="package-taken-inner" style="background-color: #FFF5E5;">
         <h6 class="margin-0">Test Results Declared</h6>
         <span>{{totalCompletedTestCount}}</span>
       </div>
     </ion-col>
   </ion-row>
 
   <ion-row class="space-top-16 space-right-left">
     <ion-col size="6" class="padding-0">
       <div class="package-taken-inner" style="background-color: #F0EBF4;">
         <h6 class="margin-0">Test Results Pending</h6>
         <span>{{pendingTestResultCount}}</span>
       </div>
     </ion-col>
     <ion-col size="6" class="padding-0">
       <div class="package-taken-inner" style="background-color: #FEF3F3;">
         <h6 class="margin-0">Total Test Pending</h6>
         <span>{{total_test_pending}}</span>
       </div>
     </ion-col>
   </ion-row>
   
 
   <ion-row class="space-top-16 space-right-left">
     <ion-col>
       <div class="table-responsive table-bg">
         <table class="table table-hover table-bordered text-center">
           <thead class="bg-info-color">
             <tr>
               <th scope="col">Package Name</th>
               <th scope="col">Tests</th>
               <th scope="col">Subjects</th>
               <th scope="col">Status</th>
               <th scope="col">Total</th>
               <th scope="col">Target</th>
               <th scope="col">Marks Obtained</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let packages of tempObj">
               <th scope="row" class="course-ttl">{{packages.name}}</th>
               <td>{{packages.title}}</td>
               <td >{{packages.subject_name}} <span style="color: rgb(128, 0, 43);" (click)="openPopover(packages.id,$event)" value="packages.id">View Chapters </span></td>
                <td class="completed-td submitted" *ngIf="packages.exam && packages.exam.status == 'submitted'">Test Submited</td>
               <td class="completed-td examcompleted" *ngIf="packages.exam && packages.exam.status == 'completed'" (click)="GoToHistoryPage()">Test Completed</td>
               <td class="completed-td examstart" *ngIf="packages.exam && packages.exam.status == 'started'" (click)="startTestPage(packages.id)">Test Started</td>
               <td class="completed-td taketest" *ngIf="packages.exam == null" (click)="takeTest(packages.id,packages.total_marks)">Take Test Now</td>
               <td>{{packages.total_marks}}</td>
               <td>{{packages.exam?.target_percent}}</td>
               <td>{{packages.marks_obtained}}</td>
             </tr>
             <!-- <tr>
               <th scope="row"></th>
               <td>Middle Over Test</td>
               <td class="completed-td">Completed</td>
               <td>90%</td>
               <td>60%</td>
             </tr> -->
           </tbody>
         </table>
       </div>
     </ion-col>
   </ion-row>
 
   
 
 </ion-content>
 