<ion-header>
  <ion-toolbar>
    <ion-title>Group Packages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount ? cartCount : '0'}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Group Packages</h2>
              <span>{{course_name}}</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="space-3">
    <ion-col size="12" class="padding-0">
      <ion-list class="border-all">
        <ion-item lines="none">
          <ion-label class="reg-num">Choose Group</ion-label>
          <ion-select (ionChange)="getGroupPackages($event)" >
            <ion-select-option *ngFor="let list of packages" [value]="list.group_unique_code">{{list.package_group_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <div class="tab-list-view" *ngFor="let list of group_packages, let i = index">
      <ion-row class="chapter-box">
        <ion-col size="8" class="chapter-test-heading">
          <h3>{{list.package.name}}</h3>
        </ion-col>
        <ion-col size="4" class="price-chapter">
          <span>INR {{list.package.price}}/-</span>
        </ion-col>
        <ion-col size="5" class="test-available-chapter">
          <p>Tests Available:</p>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <span>{{list.package.package_tests.lengt}}</span>
        </ion-col>
        <ion-col size="5" class="test-available-chapter">
          <p>Subject Name:</p>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <span>{{list.package.subject.subject_name}}</span>
        </ion-col>
        <ion-col size="6" class="view-more-btn">
          <span (click)="openPopover(list.package_id,$event)">View More</span>
        </ion-col>
        <ion-col size="6" class="view-more-btn">
          <!-- <ion-button class="start-btn">Add to Cart
            <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon>
          </ion-button> -->
          <div class="test-cart text-right">           
            <ion-button *ngIf="!cartFlag" ion-button full class="start-btn" (click)="addToCart()" [disabled]="disableButton">{{disableButton ? 'Added' : 'Add to Cart'}}</ion-button>
             <ion-button *ngIf="cartFlag" ion-button full class="start-btn">Added</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
</ion-row>
</ion-content>