<ion-header>
  <ion-toolbar>
    <ion-title class="ios title-default hydrated">Evalutaion Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Evalutaion Details</h2>
              <span>Test Evaluation Details</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="space-right-left">
    <ion-col size="12" class="padding-0">
      <h4 class="title-text mb-0">Test Evaluation Details</h4>
    </ion-col>
  </ion-row> -->

  <ion-row class="mt-16 space-right-left">
    <ion-col class="padding-0">
      <div class="table-responsive table-bg">
        <table class="table table-hover table-bordered text-center">
          <thead class="bg-info-color">
            <tr>
              <th scope="col">Main Q</th>
              <th scope="col">Sub Q</th>
              <th scope="col">Attempt</th>
              <th scope="col">View Chapters</th>
              <th scope="col">Q Marks</th>
              <th scope="col">Submitted Answer</th>
              <th scope="col">Marks Scored</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of scoreCard">
              <th scope="row" class="font-weight-normal">{{list.test_question.title}}</th>
              <td>{{list.title }} <span *ngIf="list.sub_title != null">({{list.sub_title}})</span></td>
              <td class="{{ list.student_test_ans ? 'text-attempt' : 'text-na' }}" *ngIf="list.q_type == 'MCQ'">{{list.student_test_ans ? 'A' : 'NA'}}</td>
              <td class="text-attempt" *ngIf="list.q_type == 'Theory'">A</td>
              <td (click)="openPopover(list.question_id,$event)" value="list.question_id">View Chapters</td>
              <td>{{list.marks}}</td>
              <!-- <td>{{list.student_test_ans ? list.student_test_ans.submitted_answer : ""}}</td> -->
              <td>{{ list.exam_que_marks == null ? '' : tempObj[list.student_test_ans ? list.student_test_ans.submitted_answer : ""] }}</td>
              <td>{{list.exam_que_marks == null ? '' : list.exam_que_marks.obt_marks}}</td>
              <td>{{list.exam_que_marks == null ? '' : list.exam_que_marks.notes}}</td>
            </tr>
          </tbody>
          <!-- <tbody>
            <tr>
              <th scope="row" class="font-weight-normal">Question 2</th>
              <td>a</td>
              <td class="text-attempt">A</td>
              <td>5</td>
              <td></td>
              <td>2</td>
              <td>Weak Concept</td>
            </tr>
          </tbody> -->
                    
        </table>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!student_testRating_exist">
    <ion-col size="12">
      <div class="text-center" >
        <button ion-button full class="evaluation-btn" (click)="presentModal()">Rate the Evaluation</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="text-center">
        <button ion-button full class="evaluation-btn" (click)="goToDashboard()">Go to Dashboard</button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
