.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #020551; 
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #020551; 
  }
.space-right-left{
    margin:0 5px;
}
.title-text{
    color:#2a2a2a;
    font-size:15px;
    font-weight: 500;
    padding-left: 5px;
}
.margin-10{
    margin:0 10px;
}
.table-bg {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    margin-bottom: 25px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.bg-info-color {
    background-color: #F27376;
    color: #ffffff;
}
.table-bordered thead th {
    border-bottom-width: 2px;
    font-size: 14px;
    font-weight: 500;
}
.course-ttl{
    font-size:13px;
    font-weight: 400;
}
.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
}
.table td, .table th {
    padding: 0.55rem;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table-responsive > .table-bordered {
    border: 0;
    margin: 0;
    background-color: #ffffff;
}
.table-hover tbody tr:hover {
    color: #495057;
    background-color: rgba(0, 0, 0, .0375);
}
.mt-16{
    margin-top:16px;
}
.evaluation-btn{
    padding: 9px 20px;
    border-radius: 8px !important;
    box-shadow: none !important;
    margin-left: 10px;
    background: #3f5c9b !important;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 8px;
    height: 42px;
    margin: 0;
    width: 170px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}
.font-weight-normal{
    font-weight:500;
    font-size:13px;
}
.text-na{
    color:#e24e45;
}
.text-attempt{
    color:#3b9604;
}
table{
    width:100%;
}