<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="padding-0">
      <img src="assets/mmt-img.svg" class="top-img">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10" offset="1" class="padding-0 ">
      <div class="intro-text text-center">
        <p>Hey There MMTian!
          Start Off Your CA Journey with Make My Test! 
          Login to Your MakeMyTest Account.</p>
      </div>
    </ion-col>
  </ion-row>

  <form #loginForm="ngForm" (ngSubmit)="loginAction()">
  <ion-row>
    <ion-col size="12" class="padding-0">
        <ion-item lines="none">
          <ion-input autocomplete="off" type="email" placeholder="Enter Email Id" class="form-control" [(ngModel)]='postData.email' name="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input autocomplete="off" type="password" placeholder="Enter Password" class="form-control" [(ngModel)]='postData.password' name="password"></ion-input>
        </ion-item>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <div class="space-m-50">
        <ion-button expand="block" class="login-btn" type="submit">Login</ion-button>
      </div>
    </ion-col>
  </ion-row>
</form>

  <ion-row>
    <ion-col size="12" class="padding-0 text-center">
      <button ion-button clear class="forget-link" routerLink='/forget-password'>Forgot Password?</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0 text-center">
     <p class="no-account">Don't Have an Account?<span class="sign-up-text" routerLink='/signup'>Sign Up</span></p>
    </ion-col>
  </ion-row>

</ion-content>