<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <!-- <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li> -->
          <!-- <li>
            <img src="assets/icon/notification.png" class="cart">
          </li> -->
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Notes</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-16">
    <ion-col size="12" class="course-name-heading">
        <ion-label>{{course_name}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <ion-list class="border space-m10 outer-border">
        <ion-item lines="none">
          <ion-label class="m-0 choose-subject-new">Choose Subject</ion-label>
          <ion-select (ionChange)="getNotes($event)">
            <ion-select-option *ngFor="let list of subjectList" [value]="list.id">{{list.subject_name}}</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0" *ngFor="let notes of note_list, let i = index">
      <div class="tab-list-view" >
        <ion-row >
          <ion-col size="4" class="padding-0">
            <div class="tab-list-content">
              <h6 class="m-0">Desription</h6>
              <span class="m-0 d-block">{{notes.description}}</span>
            </div>
          </ion-col>
          <ion-col size="4" class="padding-0">
            <div class="test-count text-center">
              <a (click)="openPopover(notes.id,$event)" value="notes.id">View chapters</a>
             
            </div>
          </ion-col>          
          <ion-col size="4" class="padding-0">
            <div class="test-cart text-right">
              <!-- <button ion-button full class="cart-btn">Add to Cart</button> -->
              <!-- <a full class="cart-btn" target="_blank" href="{{document_path + '/' + notes.document_name}}">Download</a> -->
              <a full class="cart-btn" target="_blank" (click)="openNotes(notes.document_name)" >View</a>
            </div>
          </ion-col>

        </ion-row>
      </div>
    </ion-col>
  </ion-row>