<ion-app>
  <ion-split-pane contentId="main" when="(min-width: 3000px)">
    <ion-menu side="start" menuId="main-menu" contentId="main">
      <ion-header>
        <ion-row class="menu-header">
          <ion-col size="4" class="menu-img">
            <img src="assets/user-profile.png">
          </ion-col>
          <ion-col size="8" class="menu-header-user-info">
            <h3>{{userName}}</h3>
            <p>MMT Institute.</p>
          </ion-col>
        </ion-row>
      </ion-header>

      <ion-content style="margin: 10px 0;">
        <ion-list>

          <ion-col size="12" class="padding-0">
            <!-- <div class="motivationl-text">
              <p>{{daily_motivational_text}}</p>
            </div> -->
            <div>
              <ion-button class="credit-btn">MMT Credit Rs. {{ student_credit_balance}}</ion-button>
            </div>
          </ion-col>

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="GoToDashboard()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/dashboard.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Dashboard</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="GoToReferral()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="wallet" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Refer and Earn</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <ion-row class="main-class-menu" (click)="isRemainder1 === 1 ? isRemainder1 = 0 : isRemainder1 = 1">
            <ion-col size="2" class="profile-icon">
              <img src="assets/icon/packages.svg">
            </ion-col>
            <ion-col size="8" class="profile">
              <span>Packages</span>
            </ion-col>
            <ion-col size="2" class="profile">
              <ion-icon name="add" class="drop-icon"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-menu-toggle [hidden]="!isRemainder1">
            <ion-row class="main-class-menu padding-left-sub-menu" (click)="GoToSearchPackages()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="search" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Search Packages</span>
              </ion-col>
            </ion-row>
            <ion-row class="main-class-menu padding-left-sub-menu" (click)="GoToGroupPackages()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="server" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Group Packages</span>
              </ion-col>
            </ion-row>
            <ion-row class="main-class-menu padding-left-sub-menu" (click)="GoToMyPackages()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="layers" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Packages</span>
              </ion-col>
            </ion-row>
            <!-- <ion-row class="main-class-menu padding-left-sub-menu" (click)="GoToFeaturedPackages()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="layers" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Featured Packages</span>
              </ion-col>
            </ion-row> -->
          </ion-menu-toggle>

          <!-- <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="TestBoard()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/test-board.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Test Board</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle> -->

          <ion-row class="main-class-menu" (click)="isRemainder3 === 1 ? isRemainder3 = 0 : isRemainder3 = 1">
            <ion-col size="2" class="profile-icon">
              <img src="assets/icon/account.svg">
            </ion-col>
            <ion-col size="8" class="profile">
              <span>Test Board</span>
            </ion-col>
            <ion-col size="2" class="profile">
              <ion-icon name="add" class="drop-icon"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-menu-toggle [hidden]="!isRemainder3">
            <ion-row class="main-class-menu padding-left-sub-menu" (click)="TestBoard()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="clipboard" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Test Board</span>
              </ion-col>
            </ion-row>
            <ion-row class="main-class-menu padding-left-sub-menu" (click)="TestHistory()">
              <ion-col size="2" class="profile-icon">
                <ion-icon name="albums" class="search-circle"></ion-icon>
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Test History</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="MyRatings()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/my-rating.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Rating</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="MyQueries()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/queries.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Queries</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="MyNotes()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/my-note.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Notes</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="Myvideos()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/videos.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>My Video</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

          <!-- <ion-row class="main-class-menu" (click)="isRemainder2 === 1 ? isRemainder2 = 0 : isRemainder2 = 1">
            <ion-col size="2" class="profile-icon">
              <img src="assets/icon/account.svg">
            </ion-col>
            <ion-col size="8" class="profile">
              <span>My Account</span>
            </ion-col>
            <ion-col size="2" class="profile">
              <ion-icon name="add" class="drop-icon"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-menu-toggle [hidden]="!isRemainder2">
            <ion-row class="main-class-menu padding-left-sub-menu">
              <ion-col size="2" class="profile-icon">
                <img src="assets/tab-menu/packages.png">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Account</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle> -->

          <ion-menu-toggle>
            <ion-row class="main-class-menu" (click)="logoutAction()">
              <ion-col size="2" class="profile-icon">
                <img src="assets/icon/logout.svg">
              </ion-col>
              <ion-col size="10" class="profile">
                <span>Logout</span>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>