ion-header{
  box-shadow: 0px 0px 3px 1.5px #f1b3b2;
  padding: 0px;
  }
  .menu-header-user-info h3{
    font-size: 16px;
    color: #305F72;
    margin: 18px 0 0 0;
    font-weight: 500;
    text-transform: capitalize;
  }
  .menu-header-user-info p{
    font-size: 14px;
    margin: 5px 0 0 0;
    display: block;
    color: #E2707E;
    font-weight: 400;
  }
  .menu-img img{
    width: 60px;
    margin: 5px 15px;
    text-align: center;
  }
  .main-class-menu{
    padding: 14px 15px 10px;
    color: #020551;
    cursor: pointer;
  }
  .profile-icon{
    text-align: center;
  }
  .profile-icon img{
    width: 20px;
    height: 20px;
  }
  .profile span{
    font-weight: 400;
    font-size: 15px;
    color: #455769;
  }
  .main-class-menu:hover{
    background: #FEF0F0;
    border-left: 4px solid #F27376;
  }
  .drop-icon{
    position: relative;
    left: 10px;
    top: 3px;
    color: #283033;
  }
  .padding-left-sub-menu{
    padding: 10px 15px 5px 50px;
  }
  .search-circle{
    font-size: 23px;
    color: #455769;
  }

  .loading-wrapper {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 100% !important;
    max-height: 100% !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

ion-button.credit-btn{
  --background-activated: #37bf56  !important;
  --background-focused: #37bf56  !important;
  --background-hover: #37bf56  !important;
  --background: #37bf56  !important;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 500;
  width: 80%;
  margin: 10px 28px;
  display: block;
  margin-bottom: 15px;
}