<ion-header>

  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <!-- <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Profile</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="padding-0">
      <div class="user-profile text-center">
        <img src="{{avatar}}" alt="user-icon">
        <h5 class="m-0">{{userData?.full_name}}</h5>
        <p>{{userData?.email}}</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-30 margin-10">
    <ion-col size="12" class="padding-0">
      <div class="user-details-info">
        <h5 class="m-0">Mobile Number</h5>
        <span>{{userData?.phone_number}}</span>
      </div>
    </ion-col>
    <ion-col size="12" class="mt-30 padding-0">
      <div class="user-details-info">
        <h5 class="m-0">Alternate Number</h5>
        <span>{{userData?.phone_number2}}</span>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="mt-30 margin-10">
    <ion-col size="12" class="padding-0">
      <div class="user-details-info">
        <h5 class="m-0">Address 1</h5>
        <span>{{userData?.address1}}</span>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-30 margin-10">
    <ion-col size="12" class="padding-0">
      <div class="user-details-info">
        <h5 class="m-0">Address 2</h5>
        <span>{{userData?.address2}}</span>
      </div>
    </ion-col>
  </ion-row> -->

  <ion-row class="mt-30 margin-10">
    <ion-col size="12" class="padding-0">
      <div class="user-details-info">
        <h5 class="m-0">Courses Opted For</h5>
        <span>{{userData?.course_name}}</span>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-30 margin-10">
    <ion-col size="12" class="padding-0" *ngIf="userData?.parents_phone_no != 'null'">
      <div class="user-details-info">
        <h5 class="m-0">Parents Number</h5>
        <span>{{userData?.parents_phone_no}}</span>
      </div>
    </ion-col>
    <ion-col size="12" class="mt-30 padding-0" *ngIf="userData?.parents_email_id != 'null'">
      <div class="user-details-info">
        <h5 class="m-0">Parents Email</h5>
        <span>{{userData?.parents_email_id}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="text-center">
        <button ion-button full class="edit-button" type="submit" (click)="EditUserPage()">Edit Info</button>
      </div>
    </ion-col>
  </ion-row>

  </ion-content>
