.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    top: -15px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.m-0{
    margin:0;
}
.user-profile h5{
    font-size: 20px;
    margin: 5px 0;
    color: #305f72;
}
.user-profile p{
    margin-top:0px;
    font-size:14px;
}
.padding-0{
    padding:0;
}
.margin-10{
    margin:0 10px;
}
.user-details-info{
    border-bottom: 1px solid #415f7782;
    text-align: left;
    margin: 0 5px;
    padding: 5px 0px;
}
.user-details-info h5{
    font-weight: 500;
    font-size: 15px;
    color: #305f72;
    margin-bottom: 5px;
}
.user-details-info span{
    font-weight: 400;
    font-size: 14px;
    color: #606060;
    display: block;
}
.mt-30{
    margin-top:10px;
}
.edit-button{
    border-radius: 8px !important;
    padding: 13px;
    color: #ffffff;
    box-shadow: none !important;
    margin-top: 35px;
    margin-bottom: 20px;
    display: inline-block;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    background: #3f5c9b !important;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 500;
    width: 160px;
}
button:focus {
    outline:0;
}

.user-profile{
    margin-top: 20px;
}
.user-profile img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}