<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="remove-text">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow ">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <!-- <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Edit Profile</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="">
      <div class="user-profile text-center">
        <!-- <img src="{{avatar}}"> -->
        <img src="{{avatar}}" alt="user-icon">
        <h5 class="m-0">{{userData?.full_name}}</h5>
        <p>{{userData?.email}}</p>
      </div>
    </ion-col>
  </ion-row>
  <!-- <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p> -->

  <form [formGroup]="editProfile" (ngSubmit)="editProfileAction()">

  <ion-row class="mt-30">

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">First Name</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-input type="text" formControlName="first_name" class="form-control"  [(ngModel)]="first_name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.first_name.valid  && (editProfile.controls.first_name.dirty || submitAttempt)">
            <p class="alert_msg">Please enter first name.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Last Name</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-input type="text" formControlName="last_name" class="form-control" [(ngModel)]="last_name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.last_name.valid  && (editProfile.controls.last_name.dirty || submitAttempt)">
            <p class="alert_msg">Please enter last name.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Mobile Number</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-input type="tel" maxlength="10" formControlName="phone_number1" class="form-control" [(ngModel)]="phone_number1"></ion-input>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.phone_number1.valid  && (editProfile.controls.phone_number1.dirty || submitAttempt)">
            <p class="alert_msg">Please enter contact number.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>
    
    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Alternate Number</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-input type="tel" maxlength="10" formControlName="phone_number2" class="form-control" [(ngModel)]="phone_number2"></ion-input>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.phone_number2.valid  && (editProfile.controls.phone_number2.dirty || submitAttempt)">
            <p class="alert_msg">Please enter Alternate number.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Parents Mobile Number</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-input type="tel" maxlength="10" formControlName="parents_phone_no" class="form-control" [(ngModel)]="parents_phone_no"></ion-input>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.parents_phone_no.valid  && (editProfile.controls.parents_phone_no.dirty || submitAttempt)">
            <p class="alert_msg">Please enter contact number.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Parents Email id</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-input type="text" formControlName="parents_email_id" class="form-control" [(ngModel)]="parents_email_id"></ion-input>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.parents_email_id.valid  && (editProfile.controls.parents_email_id.dirty || submitAttempt)">
            <p class="alert_msg">Please enter correct email id.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Attempt Month*</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-label class="m-0">Choose Month</ion-label>
            <ion-select formControlName="user_attempt_month" [(ngModel)]="user_attempt_month" >
              <ion-select-option value="1">January</ion-select-option>
              <ion-select-option value="5">May</ion-select-option>
              <ion-select-option value="11">November</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.user_attempt_month.valid  && (editProfile.controls.user_attempt_month.dirty || submitAttempt)">
            <p class="alert_msg">Please select attempt month.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Attempt Year*</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-label class="m-0">Choose Year</ion-label>
            <ion-select formControlName="user_attempt_year" [(ngModel)]="user_attempt_year" >
              <ion-select-option *ngFor="let year of years" value="{{year.value}}">{{year.value}}</ion-select-option>
              <!-- <ion-select-option >2022</ion-select-option>
              <ion-select-option >2023</ion-select-option>
              <ion-select-option >2024</ion-select-option>
              <ion-select-option >2025</ion-select-option>
              <ion-select-option >2026</ion-select-option> -->
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.user_attempt_year.valid  && (editProfile.controls.user_attempt_year.dirty || submitAttempt)">
            <p class="alert_msg">Please select attempt year.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>

  <!-- <ion-row  class="mt-15 margin-10">
    <ion-col size="12" class="">
      <div class="user-details-info">
        <h5 class="m-0">Address1</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-textarea class="form-control" formControlName="address1" [(ngModel)]="address1"> </ion-textarea>
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.address1.valid  && (editProfile.controls.address1.dirty || submitAttempt)">
            <p class="alert_msg">Please enter Address.</p>
        </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="mt-15 margin-10">
    <ion-col size="12" class="">
      <div class="user-details-info">
        <h5 class="m-0">Address2</h5>
        <ion-list>
          <ion-item lines="none">
            <ion-textarea class="form-control" formControlName="address2" [(ngModel)]="address2"></ion-textarea>
           
          </ion-item>
          <ion-item *ngIf="!editProfile.controls.address2.valid  && (editProfile.controls.address2.dirty || submitAttempt)">
            <p class="alert_msg">Please enter Alternate Address.</p>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row> -->

    <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Courses Opted For</h5>
        <span>{{userData?.course_name}}</span>
      </div>
    </ion-col>

     <ion-col size="12">
      <div class="user-details-info">
        <h5 class="m-0">Avatar (only Jpg,Jpeg,Png)</h5>
        <input type="hidden" name="avatar_type" value="storage">
        <input class="form-control padding-5 bg-color" type="file" name="avatar_location" id="avatar_location" (change)="upload($event)">
      </div>
     </ion-col>

    <ion-col>
      <div class="text-center">
        <button ion-button full class="update-button" type="submit">Update Info</button>
      </div>
    </ion-col>
    
  </ion-row>
</form>
  </ion-content>
