.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    top: -15px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
}
.user-details-info h5{
    font-weight: 500;
    font-size: 14px;
    color: #305f72;
    margin-bottom: 0px;
}
.user-profile{
    margin-top: 20px;
}
.user-profile p{
    margin-top:0px;
    font-size:14px;
}
.user-profile h5{
    font-size: 20px;
    margin: 5px 0;
    color: #305f72;
}
.m-0{
    margin:0;
}
.margin-5{
    margin:0 5px 0 0;
}
.margin-10{
    margin: 0 10px;
}
.padding-0{
    padding:0;
}
.user-details-info{
    border-bottom: 1px solid #415f7782;
    text-align: left;
    margin: 0 10px 5px;
    padding: 0px 0px;
}
.form-control{
    font-weight: 400;
    margin: 0;
    --padding: 0;
}
ion-item {
    --padding-start: 0;
    --inner-padding-bottom: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
}
.mt-15{
    margin-top:12px;
}
.padding-5{
    padding: 12px 0px !important;
}
.user-details-info span{
    font-weight: 400;
    font-size: 14px;
    color: #606060;
    display: block;
    padding: 10px 0
}
.update-button{
    border-radius: 8px !important;
    padding: 13px;
    color: #ffffff;
    box-shadow: none !important;
    margin-top: 15px;
    margin-bottom: 30px;
    display: inline-block;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    background: #3f5c9b !important;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 500;
    width: 160px;
}
ion-icon{
    font-size: 22px;
    margin: -1px 9px 0 !important;
    color:#fff;
}
ion-back-button ion-icon{
    font-size: 22px;
    margin: -1px 9px 0 !important;
    color:#fff;
}
.remove-text ion-icon{
    font-size: 22px;
    margin: -1px 9px 0 !important;
    color:#fff;
}
button:focus{
    outline: none;
}
.choose-file-btn{
    padding:9px 35px;
    color:#ffffff;
    font-weight: 400;
    font-size:16px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #51C3D1;
    margin-top:30px;
}
.invalid {
    border: 1px solid #ea6153;
}
.alert_msg{
    color: red;
    font-size: 14px;
}
.user-profile img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}