.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.space-right-left{
    margin:0 5px;
}
.title-text{
    color:#2a2a2a;
    font-size:15px;
    font-weight: 500;
    padding-left: 5px;
}
.test-history-btn button{
    border: none;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 400;
    background-color: #3f5c9b;
    color: white;
    border-radius: 8px;
    outline: none;
    margin: 10px auto 0;
    text-align: center;
    display: block;
    transition: 0.3s;
}
.font-size-1{
    font-size:13px;
    margin:0;
}
ion-select{
    width:34px;
    padding:5px;
    padding-left:0;
}
ion-item{
    --padding-start: 12px;
    --min-height: 35px;
}
ul.shopping-icon{
    list-style-type: none;
}
.menu-icon button{
    padding-top: 5px;
}
.menu-icon button:focus{
    outline: none;
}
.nav-title h6{
    margin: 10px 0 0 0;
    color:#fff;
    font-weight: 400;
    text-align: center;
}
.space-right-left{
    margin:0 5px;
}
.padding-0{
    padding:0;
}
.title-text{
    padding-left: 15px;
    font-weight: 500;
    margin: 15px 0 20px;
    font-size: 16px;
    color: #2b5465;
}
.cart-item{
    background: #fff;
    margin: 0px 20px 10px;
    border-radius: 20px;
    border: 1px solid #b1bcd440;
    padding: 10px;
    box-shadow: 0px 1px 12px -4px #37242442;
}
.m-0{
    margin:0;
}
.cart-item span{
    margin: 2px 0;
    font-size: 14px;
    font-weight: 400;
    color: #305F72;
    padding: 3px 0px 3px 5px;
    display: block;
}
.cart-item h6{
    font-size: 15px;
    font-weight: 600;
    color: #305F72;
    padding: 5px 0px 5px 5px;
}
.cart-item p{
    font-size:15px;
    font-weight:500;
    margin:2px 0;
}
.delete-icon{
    font-size: 20px;
    color: #ff5c50;
}
.text-right{
    text-align: right;
}
.mt-0{
    margin-top:0;
}
.cart-amount-sec {
    border-bottom: dashed 1px #a7a7a7b8;
    padding-bottom: 15px;
    border-bottom-width: 1px;
}
.inner-amount span {
    font-size: 15px;
    font-weight: 400;
    color: #6d6d6d;
    display: block;
    clear: both;
    margin-bottom: 10px;
}
.inner-amount{
    position: relative;
}
.inner-amount span a {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: right;
    float: right;
}
.inner-final-amount span {
    font-size: 18px;
    font-weight: 500;
    color: #305f72;
    display: block;
    clear: both;
    margin: 0px 0;
}
.inner-final-amount span a {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-align: right;
    float: right;
}
.inner-final-amount{
    margin-top:15px;
}
.checkout-btn{
    padding: 13px;
    color: #ffffff;
    box-shadow: none !important;
    margin-top: 35px;
    margin-bottom: 20px;
    display: inline-block;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    background: #3f5c9b !important;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 500;
    width: 160px;
}
.cancel-btn{
    padding:9px 35px;
    color:#2a2a2a;
    font-weight: 400;
    font-size:16px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #d7d7d7;
    margin-top:20px;
    margin-right:10px;
}
.not_found{
    padding: 22px;
    font-size:20px;
}
.test-availabel-chapter{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #F27376 !important;
}
.cart-item-final{
    margin: 0px 20px 10px;
}
.select-coupon{
    font-size: 12px !important;
    background: #e2464a;
    padding: 5px 10px !important;
    color: #ffffff !important;
    border-radius: 6px;
    font-weight: 400 !important;
}
.trash-icon{
    position: absolute;
    right: 120px;
    top: 2px;
    font-size: 20px;
    color: #ff5c50;
}
.coupon-red span a{
    color: #ff5c50;
}
.checkbox-credit-balance{
    display: block;
    float: right;
    margin-bottom: 10px;
}
.checkbox-credit-balance a{
    color: green;
    position: relative;
    top: -3px;
    margin-left: 10px;
    font-weight: 600;
}