<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="TestAction()" ></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li>
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons> -->
    <ion-title class="ios title-default hydrated">My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="TestAction()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <!-- <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>My Cart</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="space-right-left">
    <ion-col class="padding-0">
      <h4 class="title-text">Items in your cart</h4>
    </ion-col>
  </ion-row>

  <ion-row class="cart-item" *ngFor="let list of cartList">
    <ion-col size="6" class="padding-0">
      <div>
        <h6 class="m-0">{{course_name}}</h6>
        <!-- <p class="m-0">{{list.package_group}}</p> -->
        <span>{{list.name}}</span>
        <span class="test-availabel-chapter">{{list.subject_name}}</span>
        <span>Tests Available - <strong class="test-availabel-chapter">{{list.total_test_available}}</strong></span>
      </div>
    </ion-col>
    <ion-col size="4" class="padding-0">
      <div class="text-center">
        <p>INR {{list.price}}/-</p>
      </div>
    </ion-col>
    <ion-col size="2" class="padding-0">
      <div class="text-right" >
        <ion-icon name="trash" class="delete-icon" (click)="deleteCartItem(list.package_id)"></ion-icon>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="space-right-left">
    <ion-col class="padding-0">
      <h4 class="title-text ">Cart Summary</h4>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="padding-0">
      <div class="cart-item-final" *ngIf="amount_detail != null">
        <div class="cart-amount-sec">
          <div class="inner-amount">  
            <span>Amount <a>INR {{amount_detail.total}}/-</a></span>
          </div>
          <div class="inner-amount">
            <span>Discount <a>{{amount_detail.discount_amt}}/-</a></span>
          </div>
          <div class="inner-amount" *ngIf="referal_coupon_credit != '' ">
            <div class="checkbox-credit-balance">   
              <label class="checkbox checkbox-square"> 
              <ion-checkbox (click)="checkReferalCredit($event)" [(ngModel)]="checked" mode="md"></ion-checkbox> </label>
              <a style="color:green">Use Credit balance for {{referal_coupon_credit}}/-</a></div>
          </div>
          <div class="inner-amount">
            <span>Apply Coupon<a class="select-coupon" (click)="openPopover()">Select Coupon</a></span>            

          </div>
          
          <div class="inner-amount coupon-red" *ngIf="admin_coupon_detail_data != '' ">  
            <span>Other Coupon Disount <a> INR {{admin_coupon_detail_data.discountamt}}/-</a></span>
          </div>
          <div class="inner-amount coupon-red" *ngIf="institute_coupon_detail_data != '' ">  
            <span>Institute Coupon Disount <a> INR {{institute_coupon_detail_data.discountamt}}/-</a></span>
          </div>
          <div class="inner-amount coupon-red" *ngIf="referal_coupon_detail_data != '' ">  
            <span>Referal Coupon Disount <a> INR {{referal_coupon_detail_data.discountamt}}/-</a></span>
          </div>
        </div>
        <div class="inner-final-amount">
          <span>Total Amount <a>INR {{amount_detail.final_total}}/-</a></span>
        </div>
    </div>
    <div *ngIf="amount_detail == null">
      <p class="not_found"><b>Cart is empty</b> </p>
    </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="amount_detail != null">
    <ion-col class="padding-0">
      <div class="text-center">
        <!-- <button ion-button full class="cancel-btn" type="submit">cancel</button> -->
        <!-- <button ion-button full class="checkout-btn" (click)="goToCheckout(amount_detail?.final_total)">Checkout</button> -->
        <button ion-button full class="checkout-btn" (click)="proceedToPay()">Checkout</button>
        <!-- <button ion-button full class="checkout-btn" (click)="check_api()">check_api</button> -->
      </div>
    </ion-col>
  </ion-row>
</ion-content>
