<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search-packages-popover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-row class="pop-over-new">
  <ion-col size="12">
    <div class="popover-scroll">
      <table style="width:100%">
        <tr>
          <th>Test</th>
          <th>Chapters</th>
        </tr>
        <tr *ngFor="let list of test_chapters">
          <td>{{list.ptest}}</td>
          <td>{{list.chapters}}</td>
        </tr>
      </table>
    </div>
  </ion-col>
</ion-row>