table,
th,
td {
  // border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 12px 10px;
  font-size: 16px;
  color: #2c5869;
  font-weight: 500;
  text-align: left;
  border: 1px solid #d0d0d0;
}
td{
  padding: 12px 10px;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 400;
  text-align: left;
  top: 0;
  border: 1px solid #d0d0d0;
}
.popover-scroll {
  overflow: scroll;
  max-height: 400px;

}
.popover-arrow.sc-ion-popover-ios {
  display: block;
  position: absolute;
  width: 20px;
  height: 10px;
  overflow: hidden;
  left: 55px !important;
}
.pop-over-new {
}
