<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>Featured Packages</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

<ion-row *ngIf="isFoundation">  
  <div class="tab-list-view" *ngIf="featured_packages_caf">
    <ion-row class="chapter-box" *ngFor="let packages of featured_packages_caf, let i = index">
      <ion-col size="8" class="chapter-test-heading">
        <h3>{{packages.name}}</h3>
      </ion-col>
      <ion-col size="4" class="price-chapter">
        <span>INR {{packages.price}}/-</span>
      </ion-col>
      <ion-col size="7" class="test-available-chapter">
        <p>{{packages.description}}</p>
      </ion-col>
      <ion-col size="7" class="test-available-chapter">
        <b>Subject:</b><p>{{packages.subject.subject_name}}</p>
      </ion-col>
      <ion-col size="5" class="view-more-btn">
        <div class="test-cart text-right">
          <!-- <ion-button  ion-button full class="start-btn" >Add to Cart<ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button> -->
          <ion-button *ngIf="packages.price != '0'" ion-button full class="start-btn" (click)="addToCart(packages.id, i, 'caf', packages.price)" [disabled]="packages.cart_item || packages.isadded">{{packages.cart_item || packages.isadded ? 'Added' : 'Add to Cart'}} <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button>
          <ion-button *ngIf="packages.price == '0'" ion-button full class="start-btn" (click)="addToCart(packages.id, i, 'caf', packages.price)" [disabled]="packages.cart_item || packages.isadded">{{packages.cart_item || packages.isadded? 'Added' : 'Add to Packages'}} <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-row>

  <ion-row *ngIf="!isFoundation">
    <h2 class="group-text">Group 1</h2>
    <div class="tab-list-view" *ngIf="featured_packages_group1">
      <ion-row class="chapter-box" *ngFor="let packages of featured_packages_group1, let i = index">
        <ion-col size="8" class="chapter-test-heading">
          <h3>{{packages.name}}</h3>
        </ion-col>
        <ion-col size="4" class="price-chapter">
          <span>INR {{packages.price}}/-</span>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <p>{{packages.description}}</p>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <b>Subject:</b><p>{{packages.subject.subject_name}}</p>
        </ion-col>
        <ion-col size="5" class="view-more-btn">
          <div class="test-cart text-right">
            <!-- <ion-button  ion-button full class="start-btn" >Add to Cart<ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button> -->
            <ion-button *ngIf="packages.price != '0'" ion-button full class="start-btn" (click)="addToCart(packages.id, i, 'group1', packages.price)" [disabled]="packages.cart_item || packages.isadded">{{packages.cart_item || packages.isadded ? 'Added' : 'Add to Cart'}} <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button>
            <ion-button *ngIf="packages.price == '0'" ion-button full class="start-btn" (click)="addToCart(packages.id, i, 'group1', packages.price)" [disabled]="packages.cart_item || packages.isadded">{{packages.cart_item || packages.isadded? 'Added' : 'Add to Packages'}} <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="tab-list-view" *ngIf = "featured_packages_group1 == ''">
      <p class="m-20">No Featured packages</p>
    </div>
  </ion-row>

  <ion-row *ngIf="!isFoundation">
    <h2 class="group-text">Group 2</h2>
    <div class="tab-list-view" *ngIf="featured_packages_group2">
      <ion-row class="chapter-box" *ngFor="let packages of featured_packages_group2, let i = index">
        <ion-col size="8" class="chapter-test-heading">
          <h3>{{packages.name}}</h3>
        </ion-col>
        <ion-col size="4" class="price-chapter">
          <span>INR {{packages.price}}/-</span>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <p>{{packages.description}}</p>
        </ion-col>
        <ion-col size="7" class="test-available-chapter">
          <b>Subject:</b><p>{{packages.subject.subject_name}}</p>
        </ion-col>
        <ion-col size="5" class="view-more-btn">
          <div class="test-cart text-right">
            <!-- <ion-button  ion-button full class="start-btn" >Add to Cart
              <ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon>
            </ion-button> -->
            <ion-button *ngIf="packages.price != '0'" ion-button full class="start-btn" (click)="addToCart(packages.id, i, 'group2', packages.price)" [disabled]="packages.cart_item || packages.isadded">{{packages.cart_item || packages.isadded ? 'Added' : 'Add to Cart'}}<ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button>
            <ion-button *ngIf="packages.price == '0'" ion-button full class="start-btn" (click)="addToCart(packages.id, i, 'group2', packages.price)" [disabled]="packages.cart_item || packages.isadded">{{packages.cart_item || packages.isadded? 'Added' : 'Add to Packages'}}<ion-icon name="arrow-forward-outline" class="aerrow-btn"></ion-icon></ion-button>
   
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="tab-list-view" *ngIf = "featured_packages_group2 == ''">
      <p class="m-20">No Featured packages</p>
    </div>
  </ion-row>
  