<ion-header>
  <ion-toolbar>
    <ion-title>Rate Test Evaluation</ion-title>
    <!-- <ion-button size="small" (click)="dismiss()">close</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-button size="small" (click)="dismiss()">close</ion-button>
  </ion-item> -->

  <form #itemForm="ngForm" (ngSubmit)="submit_rating(itemForm)">
  <ion-row>
    <ion-col class="padding-0" size="8" offset="2">
      <div class="rate">
        <input type="radio" id="star5" name="ratings" value="5" [(ngModel)]='postData.ratings'/>
        <label for="star5" title="text"></label>

        <input type="radio" id="star4" name="ratings" value="4" [(ngModel)]='postData.ratings'/>
        <label for="star4" title="text"></label>

        <input type="radio" id="star3" name="ratings" value="3" [(ngModel)]='postData.ratings'/>
        <label for="star3" title="text"></label>

        <input type="radio" id="star2" name="ratings" value="2" [(ngModel)]='postData.ratings'/>
        <label for="star2" title="text"></label>

        <input type="radio" id="star1" name="ratings" value="1" [(ngModel)]='postData.ratings'/>
        <label for="star1" title="text"></label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item lines="none">
        <ion-textarea placeholder="Comment..." class="form-control" [(ngModel)]='postData.rating_comment' name="rating_comment">
        </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="m-30">
    <ion-col size="6" class="text-center">
      <button ion-button full class="cancel-btn" (click)="dismiss()">Cancel</button>
    </ion-col>
    <ion-col size="6" class="text-center">
      <button ion-button full class="start-exam-btn" type="submit">Submit</button>
    </ion-col>
  </ion-row>
</form>
</ion-content>


