.rate {
    height: 46px;
    padding: 0 10px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    float: left;
}
table{
    width:100%!important;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:26px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #deb217;    
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked  label:hover  label,
.rate > label:hover  input:checked  label {
    color: #deb217;
}
.form-control{
    padding: 10px 15px;
    margin: 0 25px 12px;
    border-radius: 5px;
    box-shadow: 0 0 0.875rem 0 rgba(181, 181, 181, 0.3);
    font-size: 14px;
    line-height: 20px;
    height: 100px;
}
.start-exam-btn{
    padding:9px 0;
    color:#ffffff;
    font-weight: 400;
    font-size:16px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #51C3D1;
    width: 95%;
}
.cancel-btn{
    padding:9px 0;
    color:#2a2a2a;
    font-weight: 400;
    font-size:16px;
    border-radius:50px!important;
    box-shadow:none!important;
    background: #d7d7d7;
    width:95%;
}
.m-30{
    margin: 0 45px;
}