<ion-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="getHome()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ul class="shopping-icon">
          <li (click)="GoToCart()">
            <img src="assets/icon/my-cart-1.png" class="cart">
            <span class="cart_count">{{cartCount ? cartCount : '0'}}</span>
          </li>
          <li routerLink="/user-profile">
            <img src="assets/icon/user.png" >
          </li>
        </ul>
      </ion-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">My Ratings</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/packages-header.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="back" (click)="goBack()">
                <img src="assets/back.svg" alt="back">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="packages-header">
              <h2>My Ratings</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="m-10">
    <ion-col size="8" class="padding-0">
      <h4 class="title-text mb-0">My Rating</h4>
    </ion-col>
  </ion-row>

  <ion-row class="m-10 mt-16">
    <ion-col size="12" class="padding-0" *ngIf="ratings != null">
      <div class="tab-list-view " *ngFor="let rating of ratings">
        <ion-row >
          <ion-col size="8" class="padding-0">
            <div class="tab-list-content">
              <h2><strong>Package </strong> - {{rating.test.package.name}}</h2>
              <h2><strong>Test Name </strong> - {{rating.test.title}}</h2>
              <h3><strong>Review Posted For </strong> - {{rating.test.title}}</h3>
              <h4><strong>Review Posted On </strong> - {{rating.created_at}}</h4>
            </div>
          </ion-col>

          <ion-col size="4" class="padding-0">
            <div class="star-rating">
              <input type="radio" id="5-stars" name="rating{{rating.index}}" value="5" checked="{{rating.rating == 5 ? 'checked' : ''}}" readonly/>
              <label class="star">&#9733;</label>

              <input type="radio" id="4-stars" name="rating{{rating.index}}" value="4" checked="{{rating.rating == 4 ? 'checked' : ''}}" readonly/>
              <label class="star">&#9733;</label>

              <input type="radio" id="3-stars" name="rating{{rating.index}}" value="3" checked="{{rating.rating == 3 ? 'checked' : ''}}" readonly/>
              <label class="star">&#9733;</label>

              <input type="radio" id="2-stars" name="rating{{rating.index}}" value="2" checked="{{rating.rating == 2 ? 'checked' : ''}}" readonly/>
              <label class="star">&#9733;</label>

              <input type="radio" id="1-star" name="rating{{rating.index}}" value="1" checked="{{rating.rating == 1 ? 'checked' : ''}}" readonly/>
              <label class="star">&#9733;</label>
            </div>
            
            <div class="my-rating-text">
              <p>{{rating.comment}}</p>
            </div>

          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
<ion-row>
    <ion-col *ngIf="ratings == null">
      <div class="queries-content">
        <img src="assets/icon/no-result.png" alt="no-packages-found">
      </div>
    </ion-col>
</ion-row>

</ion-content>
