.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px !important;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.packages-header h2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    top: -15px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.title-text{
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #305F72;
}
.m-10{
    margin: 0 10px;
}
.mt-16{
    margin-top:16px;
}
.tab-list-view{
    border-radius: 20px !important;
    background-color: #ffffff;
    margin: 0px 10px 10px;
    border: 1px solid #b1bcd440;
    padding: 10px;
    box-shadow: 0px 1px 12px -4px #37242442;
}
.tab-list-content h2{
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 0px;
    margin-top:5px;
    color: #F27376;
}
.tab-list-content strong{
    font-size: 15px;
    font-weight: 500;
    color: #305f72;
}
.tab-list-content h3 {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 0px;
    margin-top:5px;
}
.tab-list-content  h4 {
    font-size: 14px;
    font-weight: 600;
    color: #444444;
    margin-bottom: 0px;
    margin-top:5px;
}
.mb-0{
    margin-bottom:0px;
}
/* component */

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    text-align:center;
    // width:5em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#deb217;
  }
  
//   .star-rating label:hover,
//   .star-rating label:hover ~ label {
//     color:#deb217;
//   }
  .my-rating-text p{
      font-size:14px;
      margin: 5px 0 5px 0;
      text-transform: capitalize;
  }
  .queries-content img{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    display: block;
}