// app-popover{
//     --width:250px!important;
// }
.popover-main-holder{
    padding: 0;
}
.popover-main-holder h4{
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
ul.list{
    margin: 5px 0;
}
.list li{
    padding:3px 0;
    font-size:15px;
    color: #305F72;
}

.popover-scroll{
    overflow: scroll;
    min-width: 250px;
  }
  .user-icon img {
    border-radius: 50%;
    width: 40px;
}
.back img {
    width: 40px;
}
.back {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.header-arrow {
    padding: 20px 15px;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
    margin-bottom: 20px;
}
.packages-header{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    padding-top: 40px;
}
.packages-header span{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #305F72;
    display: block;
    font-weight: 500;
}
.border-all {
    border: 1px solid #b1bcd4;
    border-radius: 10px;
    margin-bottom: 22px;
    color: #8a959e;
}
.reg-num {
    font-size: 15px;
    font-weight: 300;
    color: #8a959e;
    padding-left: 15px;
}
.space-3 {
    margin: 25px 20px 0px;
}
ion-label {
    margin: 0;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}
.close-popover{
    position: absolute;
    right: 10px;
    font-size: 26px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
}