<!-- <ion-header>
  <ion-toolbar>
    <ion-title>rttryrt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<div class="popover-scroll">
  <div class="popover-main-holder">
    <div style="background-image:url(../assets/packages-header.svg);" class="top-bg">
      <ion-icon name="close" class="close-popover" (click)="dismiss()"></ion-icon>
      <h2 class="packages-header">Chapter List</h2>
    </div>
    <ul class="list" *ngFor="let chapters of chapter_list">
      <li class="item">{{chapters.title}}</li>
    </ul>
  </div>
</div>


<!-- (click)="dismiss()" -->