/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// lato-font
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

ion-title {
    background-color: #f27376;
    color: #fff;
}
.padding-0 {
    padding: 0px;
}
.text-center {
    text-align: center;
}
.sc-ion-loading-md-h {
    --background: var(--ion-color-step-50, #f2f2f2);
    --max-width: 200px !important;
    --spinner-color: var(--ion-color-primary, #3880ff);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    color: #000000 !important;
    font-size: 16px !important;
    text-align: center !important;
}
.loading-wrapper.sc-ion-loading-md {
    border-radius: 18px !important;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}
.sc-ion-loading-md p {
    margin: 0 0 20px 0 !important;
}

// .loader-old {
//     width: 200px;
// }
.loader-new {
    background-image: url(assets/icon/loader-new.gif);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    top: -5px;
}
.loaderimg img {
    width: 200px !important;
}
.loading-content img {
    --width: 200px !important;
}
.popover-content {
    width: 300px !important;
    margin: 0 auto;
    margin-left: 15px;
}
.img-align {
    width: 200px !important;
}
.custom-loader-class p {
    width: 200px;
    text-align: center;
}
.loading-wrapper.sc-ion-loading-ios {
    border-radius: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 0 0 0 !important;
}
.loading-wrapper.sc-ion-loading-ios {
    --padding: 10px 0 0 0 !important;
}
.loading-wrapper.sc-ion-loading-ios p{
    margin: 0 0 10px 0 !important;
}

ion-checkbox, .checkbox-icon{
    border-radius: 8px !important;
}

.alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
  }
  
  .alert-radio-label.sc-ion-alert-ios {
    white-space: pre-line !important;
  }

  .alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}