.user-icon img {
    border-radius: 50%;
    width: 40px;
}
.hamburger img {
    width: 40px;
}
.hamburger {
    float: left;
}
.shopping-cart img {
    width: 30px;
    margin-right: 20px;
    position: relative;
    top: -8px;
}
.menu-icon {
    text-align: right;
}
.shopping-cart {
    position: relative;
}
.cart-number {
    position: absolute;
    right: 15px;
    background-color: #ffbb00;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    color: #3f5c9b;
    font-size: 14px;
    padding: 1px;
}
ion-header {
    display: none;
}
.categories {
    background: #fef3f3;
    padding: 20px;
    border-radius: 30px;
    margin: 15px 20px 0;
}
.d-block {
    display: block;
}
.categories-content h3 {
    margin-top: 0px;
}
ion-button {
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --background: #3f5c9b !important;
    border-radius: 10px;
    font-size: 14px;
    font-family: "Lato";
    font-weight: 500;
    width: 150px;
}
.c-btn ion-icon {
    position: absolute;
    font-size: 16px;
    right: 0px;
}
.categories-content h3 {
    color: #305f72;
    font-size: 22px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
}
.categories-heading h3 {
    font-size: 20px;
    color: #305f72;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    margin-top: 36px;
}
.test-overview{
    margin: 75px 20px 0;
}
.student-name {
    padding: 25px 20px;
}
.student-name h4 {
    font-size: 26px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
}
.student-name h3 {
    font-size: 26px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #305f72;
    margin: 0;
}
.text-white {
    color: #fff;
}
.courses-main {
    background: #fae4f4;
    padding: 10px 15px 6px;
    border-radius: 25px;
    align-items: center;
    margin-bottom: 10px;
}
.c-content h4 {
    font-size: 18px;
    color: #305f72;
    margin: 0px 0px 5px;
}
.c-content h4 span {
    font-weight: 800;
    font-size: 20px;
}
.c-content p {
    font-size: 14px;
    color: #f27376;
    margin: 0;
}
.c-content{
    padding-left: 8px;
}
.nxt-arrow {
    background: #fff;
    border-radius: 50%;
    padding: 11px;
}
ion-icon.nxt-arrow {
    font-size: 14px;
    color: #f27376;
}
.c-count span {
    float: left;
    font-size: 18px;
    margin-top: 13px;
    margin-right: 3px;
    color: #ea9e24;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}
.avg-c-count span{
    float: left;
    font-size: 16px;
    margin-top: 13px;
    margin-right: 3px;
    color: #9A00FF;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: -5px;
}
.ca-inter-bg {
    background: #fff5e5;
}
.ca-final-bg {
    background: #fbf5ff;
}
.top-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    width: 100%;
    background-position: center;
    position: relative;
    top: 0;
    border-radius: 0 0 30px 30px;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
.header-arrow {
    padding: 20px 15px;
}

.c-img {
    position: absolute;
    bottom: 0;
    right: -35px;
}
.motivationl-text {
    padding: 10px;
    background-color: #ffffff;
    margin: 0 20px;
    border-radius: 15px;
    max-height: 87px;
    min-height: 70px;
}
.motivationl-text p {
    margin: 0;
    font-size: 13px;
    text-align: center;
    color: #274a58;
    letter-spacing: 0.3px;
    font-weight: 500;
    line-height: 17px;
}
.progress-bar {
    height: 12px;
    border-radius: 10px;
    margin: 5px 0;
}
:host.progress {
    background: #3f5c9b !important;
    z-index: 2;
}
.c-content {
    ion-progress-bar {
        --buffer-background: #bab6d6;
        --progress-background: #3f5c9b;
    }
}
.completed-test{
    padding: 0;
}
.due-test{
    padding: 0;
}
.completed-test p{
    font-size: 14px;
    color: #1f1f1f;
    margin: 0;
    font-weight: 500;
}
.due-test p{
    font-size: 14px;
    color: #1f1f1f;
    margin: 0;
    font-weight: 500;
    text-align: right;
}
.c-main-img img{
    width: 100%;
    border-radius: 11px;
}
.test-result-pending{
    margin: 0px 20px 0;
}
.average-test-scores{
    margin: 0px 20px 0;
}
.avg-bg{
    background-color: #FBF5FF;
}
.package-taken{
    border-radius: 15px !important;
    padding: 12px;
    text-align: center;
    height: 90px;
    color: #fff;
    margin: 10px 15px 0;
}
.package-taken h6{
    font-size: 16px;
    color: #305F72;
    text-align: left;
    padding-top: 20px;
}

.package-taken span {
    font-size: 17px;
    font-weight: 500;
    color: #305F72;
    border-radius: 50%;
    position: relative;
    top: 20px;
}
.package-taken img{
    width: 58px;
    height: 58px;
    float: left;
}
.bg-purple{
    background-color: #DEE8FF;
}
.featured-packages-icon span{
    float: left;
    font-size: 28px;
    margin-top: 13px;
    margin-right: 3px;
    color: #3F5C9B;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: -5px;
}