<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-image:url(../assets/dashboard.svg);" class="top-bg">
    <ion-col size="12" class="header-arrow padding-0">
      <div>
        <ion-row>
          <ion-col size="6">
            <div class="hamburger">
              <ion-menu-button auto-hide="false">
                <img src="assets/hamburger-icon.svg" alt="hamburger">
              </ion-menu-button>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="menu-icon">
              <span class="shopping-cart" (click)="GoToCart()"><img src="assets/shopping-cart.svg" alt="shopping"><span
                  class="cart-number">{{cartCount}}</span></span>
              <span class="user-icon" slot="start" (click)="GoToUserProfile()">
                <img src="assets/user-profile.png" alt="user-icon">
              </span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>

    <ion-col size="12" class="padding-0">
      <div class="student-name">
        <h4>Hi <span style="text-transform: capitalize;">{{user_name}}</span></h4>
        <h3>Welcome To <span class="text-white">MMT</span></h3>
      </div>
    </ion-col>

    <ion-col size="12" class="padding-0">
      <div class="motivationl-text">
        <p>{{daily_motivational_text}}</p>
      </div>
      <!-- <div>
        <ion-button class="credit-btn">MMT Credit Rs. {{student_avail_amt}}</ion-button>
      </div> -->
    </ion-col>

    <ion-col size="12" class="padding-0">
      <ion-row class="categories">
        <ion-col size="7" class="padding-0">
          <div class="categories-content">
            <h3>Be the best With
              <span class="d-block"></span>Make My Test
            </h3>
            <ion-button expand="block" class="c-btn" (click)="goToPackages()">Packages
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="5" class="padding-0">
          <div class="c-img">
            <img src="assets/categories.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>




  <ion-row class="test-overview">
    <ion-col size="12" class="padding-0">

      <ion-row class="courses-main avg-bg bg-purple" (click)="GoToFeaturedPackages()">
        <ion-col size="3" class="padding-0">
          <div class="c-main-img">
            <img src="assets/test-board-icon/packages-taken.svg">
          </div>
        </ion-col>
        <ion-col size="8" class="padding-0">
          <div class="c-content">
            <h4>Featured Packages</h4>
          </div>
        </ion-col>
        <ion-col size="1" class="padding-0">
          <div class="featured-packages-icon">
            <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="courses-main">
        <ion-col size="3" class="padding-0">
          <div class="c-main-img">
            <img src="assets/ca-foundation.png">
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="c-content">
            <h4>Test Overview</h4>
            <p>Total Allocated Test: <span>{{total_avail_tests}}</span></p>
            <ion-progress-bar class="progress-bar" value="{{testOverview}}"></ion-progress-bar>
            <ion-row>
              <ion-col size="6" class="completed-test">
                <p>Completed: <span>{{totalCompletedTestCount}}</span></p>
              </ion-col>
              <ion-col size="6" class="due-test">
                <p>Due: <span>{{pendingTestResultCount}}</span></p>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="test-result-pending">
    <ion-col size="12" class="padding-0">
      <ion-row class="courses-main ca-inter-bg">
        <ion-col size="3" class="padding-0">
          <div class="c-main-img">
            <img src="assets/ca-inter.png">
          </div>
        </ion-col>
        <ion-col size="8" class="padding-0">
          <div class="c-content">
            <h4>Test Result Pending</h4>
          </div>
        </ion-col>
        <ion-col size="1" class="padding-0">
          <div class="c-count">
            <span>{{pendingTestResultCount}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="average-test-scores">
    <ion-col size="12" class="padding-0">
      <ion-row class="courses-main avg-bg">
        <ion-col size="3" class="padding-0">
          <div class="c-main-img">
            <img src="assets/ca-final.png">
          </div>
        </ion-col>
        <ion-col size="8" class="padding-0">
          <div class="c-content">
            <h4>Average Test Scores</h4>
          </div>
        </ion-col>
        <ion-col size="1" class="padding-0">
          <div class="avg-c-count">
            <span>{{totalTestsAverage}}%</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>



</ion-content>