.intro-text p {
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
}
ion-header {
    display: none;
    color: #4f689e;
}
.form-control {
    border: 1px solid #b1bcd4;
    border-radius: 10px;
    margin-bottom: 22px;
    font-size: 15px;
    padding: 15px !important;
    color: #585858;
    --font-family: 500;
}
ion-input {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
}
ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    padding: 0 30px;
}
.space-m-50 {
    margin: 0 82px;
}
ion-button {
    --background: #3f5c9b !important;
    border-radius: 10px;
}
.forget-link {
    background: transparent;
    color: #3f5c9b;
    font-size: 15px;
    font-weight: 500;
}
.login-btn {
    margin-bottom: 18px;
    --background-activated: #3f5c9b !important;
    --background-focused: #3f5c9b !important;
    --background-hover: #3f5c9b !important;
    --border-radius: 10px;
    --min-height: 51px;
    height: 51px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.no-account {
    font-size: 15px;
    color: #5b5b5b;
    font-weight: 500;
}
.sign-up-text {
    color: #f27376;
    font-weight: 500;
}
.top-img {
    width: 100%;
    border-radius: 0 0 40px 40px;
}
.back-arrow ion-icon {
    font-size: 22px;
    color: #fff;
}
.menu-icon ion-icon {
    font-size: 22px;
    color: #fff;
}
.back img{
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
}