<ion-header>
  <ion-toolbar>
    <ion-title>forget-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <div class="back" (click)="getHome()">
        <img src="assets/back.svg" alt="back">
    </div>
    <ion-col size="12" class="padding-0">
      <img src="assets/mmt-img.svg" class="top-img">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10" offset="1" class="padding-0 ">
      <div class="intro-text text-center">
        <p>Reset Your Password</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordAction()">
      <ion-col size="12" class="padding-0">
          <ion-item lines="none">
            <ion-input type="email" placeholder="Enter Email Id" class="form-control" [(ngModel)]='postData.email' name="email" required></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size="12" class="padding-0">
        <div class="space-m-50">
          <ion-button expand="block" class="login-btn" type="submit">Reset Password</ion-button>
        </div>
      </ion-col>
    </form>

  </ion-row>

  <ion-row>
    <!-- <ion-col size="12" class="padding-0">
      <div class="space-m-50">
        <ion-button expand="block" class="login-btn" type="submit">Reset Password</ion-button>
      </div>
    </ion-col> -->
  </ion-row>

</ion-content>